#Data Wrangling with Pandas

[Aj. NesT the Series](http://bit.ly/ajnesttheseriesSubscribe)

Referenence: [Pyhton Data Cleaning Cookbook 2020](https://github.com/PacktPublishing/Python-Data-Cleaning-Cookbook)

##Practice 2: การจัดการค่าที่หายไป การลบข้อมูลแถวที่ซ้ำกัน และการจัดระเบียบข้อมูลตามกลุ่ม

--> Managing Missing Values, Removing Duplicated Rows, and Organizing using Groupby  

[Python Pandas Cheat Sheets](https://www.enthought.com/wp-content/uploads/Enthought-Python-Pandas-Cheat-Sheets-1-8-v1.0.2.pdf)

##Workshop 10: ใช้ฟังก์ชันที่ผู้ใช้กำหนดเองและนำไปใช้กับ groupby เพื่อจัดระเบียบข้อมูลตามกลุ่ม
--> Using user-defined functions and apply with
groupby

###Input Datasets

* **[nls97b.csv](https://drive.google.com/file/d/1MlPic-AGMK5sUhVmGjhkhf0lO-lOBRvm/view?usp=sharing)** - the National Longitudinal Survey (NLS) 1997-2018.

####Question 10: เราสามารถสร้างฟังก์ชันขึ้นมาใช้งานเองได้อย่างไร?

**STEP 1:** นำเข้า Datasets โดยทำการ Upload ไฟล์ nls97b.csv ขึ้น Google Colab (ไฟล์นี้จะถูกลบเมื่อเราหลุดจาก Session หรือปิด Browser) หรือ Python IDE เช่น PyCharm, VSCode, Juputer Notebook, etc.

**STEP 2:** นำเข้า pandas และ numpy libraries มาใช้งาน

**STEP 3:** ทำการอ่านไฟล์ .csv ด้วย pandas เก็บเป็น Dataframe

ใช้คำสั่ง .read_csv()

**STEP 4:** ตั้งค่าและแสดง index และ size ของ nls97b data

ใช้คำสั่ง set_index()

In [6]:
# import pandas and numpy, and load the nls data
import pandas as pd
import numpy as np
nls97b = pd.read_csv("/content/nls97b.csv")
print(nls97b)
nls97b.set_index("personid", inplace=True)
print(nls97b)

      personid  gender  ...      colenrfeb17      colenroct17
0       100061  Female  ...  1. Not enrolled  1. Not enrolled
1       100139    Male  ...  1. Not enrolled  1. Not enrolled
2       100284    Male  ...  1. Not enrolled  1. Not enrolled
3       100292    Male  ...              NaN              NaN
4       100583    Male  ...  1. Not enrolled  1. Not enrolled
...        ...     ...  ...              ...              ...
8979    999291  Female  ...  1. Not enrolled  1. Not enrolled
8980    999406    Male  ...  1. Not enrolled  1. Not enrolled
8981    999543  Female  ...  1. Not enrolled  1. Not enrolled
8982    999698  Female  ...  1. Not enrolled  1. Not enrolled
8983    999963  Female  ...  1. Not enrolled  1. Not enrolled

[8984 rows x 89 columns]
          gender  birthmonth  ...      colenrfeb17      colenroct17
personid                      ...
100061    Female           5  ...  1. Not enrolled  1. Not enrolled
100139      Male           9  ...  1. Not enrolled  1. Not enrolled
100284      Male          11  ...  1. Not enrolled  1. Not enrolled
100292      Male           4  ...              NaN              NaN
100583      Male           1  ...  1. Not enrolled  1. Not enrolled
...          ...         ...  ...              ...              ...
999291    Female           4  ...  1. Not enrolled  1. Not enrolled
999406      Male           7  ...  1. Not enrolled  1. Not enrolled
999543    Female           8  ...  1. Not enrolled  1. Not enrolled
999698    Female           5  ...  1. Not enrolled  1. Not enrolled
999963    Female           9  ...  1. Not enrolled  1. Not enrolled

[8984 rows x 88 columns]

**STEP 5:** สร้างฟังก์ชันสำหรับคำนวณพิสัยระหว่างควอไทล์  quantile 75% - 25%

create a function for calculating interquartile range

ใช้คำสั่ง def ชื่อฟังก์ชัน(paremeter): คำสั่งที่ต้องการให้ทำ

In [8]:
#create a function for calculating interquartile range
def iqr(x):
  return x.quantile(0.75) - x.quantile(0.25)

**STEP 6:** เรียกใช้ฟังก์ชัน iqr ที่สร้างขึ้น

call iqr function

In [9]:
#run the interquartile range function
aggdict = {'weeksworked06':['count', 'mean', iqr], 'childathome':['count', 'mean', iqr]}
print(nls97b.groupby(['highestdegree']).agg(aggdict))  #.agg() สำหรับเล่นกับค่าคำนวณ

                weeksworked06                  childathome
                        count       mean   iqr       count      mean  iqr
highestdegree
0. None                   703  29.664296  47.0         439  1.840547  3.0
1. GED                   1104  33.193841  39.0         693  1.701299  3.0
2. High School           3368  39.362233  21.0        1961  1.863845  2.0
3. Associates             722  40.704986  18.0         428  1.967290  2.0
4. Bachelors             1642  42.231425  14.0         827  1.896010  1.0
5. Masters                601  42.198003  13.0         333  1.918919  1.0
6. PhD                     53  38.169811  23.0          32  2.062500  2.0
7. Professional           117  27.102564  45.0          57  1.807018  1.0

**STEP 7:** สร้างฟังก์ชันคำนวณ Summary Statistics แปลงไปเป็น Series

Define a function to return selected summary statistics as a series

ใช้คำสั่ง def ชื่อฟังก์ชัน(parameter): คำสั่งที่ต้องการทำ

In [10]:
#define a function to return the summary statistics as a series
def gettots(x):
  out = {}
  out['qr1'] = x.quantile(0.25)
  out['med'] = x.median()
  out['qr3'] = x.quantile(0.75)
  out['count'] = x.count()
  return pd.Series(out)

**STEP 8:** เรียกใช้งานฟังก์ชัน gettots()

Use apply to run the function 

This will create a series with a multi-index based on highestdegree values and
the desired summary statistics:

In [32]:
#use apply to run the function
print(nls97b.groupby(['highestdegree'])['weeksworked06'].apply(gettots))  
#groupby([group_column])['value_column']
#ได้ type เป็น Series
print(type(nls97b.groupby(['highestdegree'])['weeksworked06'].apply(gettots)))

highestdegree
0. None          qr1         5.0
                 med        34.0
                 qr3        52.0
                 count     703.0
1. GED           qr1        13.0
                 med        42.0
                 qr3        52.0
                 count    1104.0
2. High School   qr1        31.0
                 med        52.0
                 qr3        52.0
                 count    3368.0
3. Associates    qr1        34.0
                 med        52.0
                 qr3        52.0
                 count     722.0
4. Bachelors     qr1        38.0
                 med        52.0
                 qr3        52.0
                 count    1642.0
5. Masters       qr1        39.0
                 med        52.0
                 qr3        52.0
                 count     601.0
6. PhD           qr1        29.0
                 med        50.0
                 qr3        52.0
                 count      53.0
7. Professional  qr1         4.0
                 med        29.0
                 qr3        49.0
                 count     117.0
Name: weeksworked06, dtype: float64
<class 'pandas.core.series.Series'>

**STEP 9:** ทำการ reset_index เพื่อใช้ index ค่าเริ่มต้นแทนที่ groupby DataFrame ที่เพิ่งสร้างขึ้นมา

ใช้คำสั่ง reset_index()

In [26]:
#chain reset_index to set the default index
print(nls97b.groupby(['highestdegree'])['weeksworked06'].apply(gettots).reset_index()) #ย้อน index กลับไป
print(type(nls97b.groupby(['highestdegree'])['weeksworked06'].apply(gettots)))

      highestdegree level_1  weeksworked06
0           0. None     qr1            5.0
1           0. None     med           34.0
2           0. None     qr3           52.0
3           0. None   count          703.0
4            1. GED     qr1           13.0
5            1. GED     med           42.0
6            1. GED     qr3           52.0
7            1. GED   count         1104.0
8    2. High School     qr1           31.0
9    2. High School     med           52.0
10   2. High School     qr3           52.0
11   2. High School   count         3368.0
12    3. Associates     qr1           34.0
13    3. Associates     med           52.0
14    3. Associates     qr3           52.0
15    3. Associates   count          722.0
16     4. Bachelors     qr1           38.0
17     4. Bachelors     med           52.0
18     4. Bachelors     qr3           52.0
19     4. Bachelors   count         1642.0
20       5. Masters     qr1           39.0
21       5. Masters     med           52.0
22       5. Masters     qr3           52.0
23       5. Masters   count          601.0
24           6. PhD     qr1           29.0
25           6. PhD     med           50.0
26           6. PhD     qr3           52.0
27           6. PhD   count           53.0
28  7. Professional     qr1            4.0
29  7. Professional     med           29.0
30  7. Professional     qr3           49.0
31  7. Professional   count          117.0
<class 'pandas.core.series.Series'>

**STEP 10:** สร้าง column ย่อยใหม่

ใช้คำสั่ง .unstack() สำหรับแตกออกมาเป็น column ย่อยใหม่ แปลงแนวตั้งเป็นแนวนอนของ qr1, med, qr3, count 

ทำให้ index ถูกสร้าง

In [47]:
#allow the index to be created
nlssums = nls97b.groupby(['highestdegree'])['weeksworked06'].apply(gettots).unstack()
print(nlssums)
print()
print(nlssums.info())

                  qr1   med   qr3   count
highestdegree
0. None           5.0  34.0  52.0   703.0
1. GED           13.0  42.0  52.0  1104.0
2. High School   31.0  52.0  52.0  3368.0
3. Associates    34.0  52.0  52.0   722.0
4. Bachelors     38.0  52.0  52.0  1642.0
5. Masters       39.0  52.0  52.0   601.0
6. PhD           29.0  50.0  52.0    53.0
7. Professional   4.0  29.0  49.0   117.0

<class 'pandas.core.frame.DataFrame'>
Index: 8 entries, 0. None to 7. Professional
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   qr1     8 non-null      float64
 1   med     8 non-null      float64
 2   qr3     8 non-null      float64
 3   count   8 non-null      float64
dtypes: float64(4)
memory usage: 320.0+ bytes
None

**STEP 11:** รัน groupby โดยไม่สร้าง index เทียบกับที่สร้าง index

In [50]:
#run the groupby without creating an index and create a data frame
print(nls97b.groupby(['highestdegree'], as_index=False)['weeksworked06'].apply(gettots))
print()
#run allow the index to be created
print(nls97b.groupby(['highestdegree'])['weeksworked06'].apply(gettots).unstack())

     highestdegree   qr1   med   qr3   count
0          0. None   5.0  34.0  52.0   703.0
1           1. GED  13.0  42.0  52.0  1104.0
2   2. High School  31.0  52.0  52.0  3368.0
3    3. Associates  34.0  52.0  52.0   722.0
4     4. Bachelors  38.0  52.0  52.0  1642.0
5       5. Masters  39.0  52.0  52.0   601.0
6           6. PhD  29.0  50.0  52.0    53.0
7  7. Professional   4.0  29.0  49.0   117.0

                  qr1   med   qr3   count
highestdegree
0. None           5.0  34.0  52.0   703.0
1. GED           13.0  42.0  52.0  1104.0
2. High School   31.0  52.0  52.0  3368.0
3. Associates    34.0  52.0  52.0   722.0
4. Bachelors     38.0  52.0  52.0  1642.0
5. Masters       39.0  52.0  52.0   601.0
6. PhD           29.0  50.0  52.0    53.0
7. Professional   4.0  29.0  49.0   117.0