#Data Wrangling with Pandas

[Aj. NesT the Series](http://bit.ly/ajnesttheseriesSubscribe)

Referenence: [Pyhton Data Cleaning Cookbook 2020](https://github.com/PacktPublishing/Python-Data-Cleaning-Cookbook)

##Practice 3: สร้างฟังก์ชันและคลาสที่กำหนดโดยผู้ใช้เพื่อทำความสะอาดข้อมูลแบบอัตโนมัติ

--> User-Defined Functions and Classes to Automate Data Cleaning

[Python Pandas Cheat Sheets](https://www.enthought.com/wp-content/uploads/Enthought-Python-Pandas-Cheat-Sheets-1-8-v1.0.2.pdf)

##Workshop 11: สร้างฟังก์ชันสำหรับตรวจดูคุณภาพข้อมูล
--> Functions for getting a first look at our data

###Input Datasets

* **[nls97f.csv](https://drive.google.com/file/d/1t9YHxkeCr4CUQqy8XDDu_RKM9uMKr0BP/view?usp=sharing)** - The survey started with a cohort
of individuals in 1997 who were born between 1980 and 1985, with annual
follow-ups each year through 2017. the National Longitudinal Survey (NLS) 1997-2017.

####Question 11: สร้างฟังก์ชัน getfirstlook และ displaydict เพื่อตรวจดูข้อมูลต้องเขียนอย่างไรบ้าง?

**STEP 1:** นำเข้า Datasets โดยทำการ Upload ไฟล์ nls97f.csv ขึ้น Google Colab (ไฟล์นี้จะถูกลบเมื่อเราหลุดจาก Session หรือปิด Browser) หรือ Python IDE เช่น PyCharm, VSCode, Juputer Notebook, etc.

**STEP 2:** ทำการนำเข้า pandas library

**STEP 3:** ทำการอ่านไฟล์ .csv ด้วย pandas เก็บเป็น Dataframe

ใช้คำสั่ง .read_csv()

**STEP 4:** ตั้งค่าและแสดง index และ size ของ nls97f data

ใช้คำสั่ง set_index()

In [ ]:
import pandas as pd
nls97 = pd.read_csv("/content/nls97f.csv")
print(nls97)
nls97.set_index('personid', inplace=True)
print(nls97)

      personid  gender  birthmonth  ...      colenrfeb17      colenroct17 originalid
0       100061  Female           5  ...  1. Not enrolled  1. Not enrolled       8245
1       100139    Male           9  ...  1. Not enrolled  1. Not enrolled       3962
2       100284    Male          11  ...  1. Not enrolled  1. Not enrolled       3571
3       100292    Male           4  ...              NaN              NaN       2979
4       100583    Male           1  ...  1. Not enrolled  1. Not enrolled       8511
...        ...     ...         ...  ...              ...              ...        ...
8979    999291  Female           4  ...  1. Not enrolled  1. Not enrolled       7217
8980    999406    Male           7  ...  1. Not enrolled  1. Not enrolled          2
8981    999543  Female           8  ...  1. Not enrolled  1. Not enrolled       5113
8982    999698  Female           5  ...  1. Not enrolled  1. Not enrolled       7815
8983    999963  Female           9  ...  1. Not enrolled  1. Not enrolled        166

[8984 rows x 90 columns]
          gender  birthmonth  ...      colenroct17  originalid
personid                      ...
100061    Female           5  ...  1. Not enrolled        8245
100139      Male           9  ...  1. Not enrolled        3962
100284      Male          11  ...  1. Not enrolled        3571
100292      Male           4  ...              NaN        2979
100583      Male           1  ...  1. Not enrolled        8511
...          ...         ...  ...              ...         ...
999291    Female           4  ...  1. Not enrolled        7217
999406      Male           7  ...  1. Not enrolled           2
999543    Female           8  ...  1. Not enrolled        5113
999698    Female           5  ...  1. Not enrolled        7815
999963    Female           9  ...  1. Not enrolled         166

[8984 rows x 89 columns]

**STEP 5:** สร้างฟังก์ชัน getfiestlook เพื่อดูค่าต่าง ๆ โดยเขียนโปรแกรมรวมเซ็นการเรียกใช้งานคำสั่ง

.head(), .dtype(), .shape, .index

ใช้คำสั่ง def ชื่อฟังก์ชัน(parameter): คำสั่งที่ต้องการให้ทำ

**STEP 6:** สร้างฟังก์ชัน displaydict

ใช้คำสั่ง def ชื่อฟังก์ชัน(parameter): คำสั่งที่ต้องการให้ทำ

In [ ]:
#create getfirstlook and displaydict functions
def getfirstlook(df, nrows=5, uniqueids=None):  #df คือ ข้อมูล nls97 ที่ส่งเข้ามา, uniqueids=None จะไม่เข้าเงื่อนไข if
    out = {}
    out['head'] = df.head(nrows)
    out['dtypes'] = df.dtypes
    out['nrows'] = df.shape[0] #0 คือ row
    out['ncols'] = df.shape[1] #1 คือ column
    out['index'] = df.index
    if (uniqueids is not None):
        out['uniqueids'] = df[uniqueids].nunique()
    return out

def displaydict(dicttodisplay):
    #แสดงผลข้อมูล string
    print(*(': '.join(map(str, x)) \
        for x in dicttodisplay.items()), sep='\n\n')

**STEP 7:** เรียกใช้งานฟังก์ชัน getfirstlook() และ displaydict()

In [ ]:
#take a first look at the NLS data
dfinfo = getfirstlook(nls97)
displaydict(dfinfo)

head:           gender  birthmonth  ...      colenroct17  originalid
personid                      ...
100061    Female           5  ...  1. Not enrolled        8245
100139      Male           9  ...  1. Not enrolled        3962
100284      Male          11  ...  1. Not enrolled        3571
100292      Male           4  ...              NaN        2979
100583      Male           1  ...  1. Not enrolled        8511

[5 rows x 89 columns]

dtypes: gender                    object
birthmonth                 int64
birthyear                  int64
highestgradecompleted    float64
maritalstatus             object
                          ...
colenrfeb16               object
colenroct16               object
colenrfeb17               object
colenroct17               object
originalid                 int64
Length: 89, dtype: object

nrows: 8984

ncols: 89

index: Int64Index([100061, 100139, 100284, 100292, 100583, 100833, 100931, 101089,
            101122, 101132,
            ...
            998997, 999031, 999053, 999087, 999103, 999291, 999406, 999543,
            999698, 999963],
           dtype='int64', name='personid', length=8984)

**STEP 8:** ส่งค่า valeus ไปยัง parameter nrows และ uniqueid

In [ ]:
#pass values to the nrows and uniqueid parameters
dfinfo = getfirstlook(nls97,2,'originalid') #แสดงจำนวน uniqueids เข้าเงื่อนไข if นับจำนวน uniqueids
displaydict(dfinfo)

head:           gender  birthmonth  ...      colenroct17  originalid
personid                      ...
100061    Female           5  ...  1. Not enrolled        8245
100139      Male           9  ...  1. Not enrolled        3962

[2 rows x 89 columns]

dtypes: gender                    object
birthmonth                 int64
birthyear                  int64
highestgradecompleted    float64
maritalstatus             object
                          ...
colenrfeb16               object
colenroct16               object
colenrfeb17               object
colenroct17               object
originalid                 int64
Length: 89, dtype: object

nrows: 8984

ncols: 89

index: Int64Index([100061, 100139, 100284, 100292, 100583, 100833, 100931, 101089,
            101122, 101132,
            ...
            998997, 999031, 999053, 999087, 999103, 999291, 999406, 999543,
            999698, 999963],
           dtype='int64', name='personid', length=8984)

uniqueids: 8984

**STEP 9:** แสดงข้อมูลแต่ละชุดคำสั่งที่ต้องการ

In [ ]:
#work with some of the dictionary keys and values
print(dfinfo['nrows'])
print(dfinfo['dtypes'])
print(dfinfo['nrows'] == dfinfo['uniqueids']) #complete data คือ index เท่ากัน

8984
gender                    object
birthmonth                 int64
birthyear                  int64
highestgradecompleted    float64
maritalstatus             object
                          ...
colenrfeb16               object
colenroct16               object
colenrfeb17               object
colenroct17               object
originalid                 int64
Length: 89, dtype: object
True