#Data Wrangling with Pandas

[Aj. NesT the Series](http://bit.ly/ajnesttheseriesSubscribe)

Reference: [Pyhton Data Cleaning Cookbook 2020](https://github.com/PacktPublishing/Python-Data-Cleaning-Cookbook)

##Practice 1: เช็คคุณภาพข้อมูลและทำความสะอาดข้อมูล

Measuring Data Quality and Data Cleaning of Your Data

##Workshop 1: เริ่มดูข้อมูลของคุณก่อน
--> Getting a first look at your data

###Input Datasets

* **[nls97.csv](https://drive.google.com/file/d/1-av28HdgEAYPc7ZSmvIh1JdR6Pb4HIfg/view?usp=sharing)** - the National Longitudinal Survey (NLS) 1997-2017.
* **[covidtotals.csv](https://drive.google.com/file/d/1xwJwA-HUKO39KDjuDeJiz4kou7plkTZK/view?usp=sharing)** - COVID-19 case data 1 June 2020.

####Question 1: เราจะดูข้อมูลเบื้องต้นของ nls97.csv และ covidtotals.csv รวมทั้งจำนวน rows, columns และ data types ได้อย่างไร?

**STEP 1:** นำเข้า Datasets โดยทำการ Upload ไฟล์ nls97.csv และไฟล์ covidtotals.csv ขึ้น Google Colab (ไฟล์นี้จะถูกลบเมื่อเราหลุดจาก Session หรือปิด Browser) หรือ Python IDE เช่น PyCharm, VSCode, Juputer Notebook, etc.

**STEP 2:** นำเข้า pandas และ numpy libraries และทำการอ่านไฟล์ .csv ด้วย pandas เก็บเป็น Dataframe

ใช้คำสั่ง .read_csv()

In [ ]:
import pandas as pd
import numpy as np
nls97 = pd.read_csv("/content/nls97.csv")
covidtotals = pd.read_csv("/content/covidtotals.csv", parse_dates = ['lastdate']) 
#คำสั่ง parse_dates จะทำการแปลง Column 'lastdate' ให้เป็น Datetime Type วันเดือนปี เพื่อให้สามารถนำไปเปรียบเทียบช่วงเวลาได้

In [ ]:
print(nls97)

      personid  gender  ...      colenrfeb17      colenroct17
0       100061  Female  ...  1. Not enrolled  1. Not enrolled
1       100139    Male  ...  1. Not enrolled  1. Not enrolled
2       100284    Male  ...  1. Not enrolled  1. Not enrolled
3       100292    Male  ...              NaN              NaN
4       100583    Male  ...  1. Not enrolled  1. Not enrolled
...        ...     ...  ...              ...              ...
8979    999291  Female  ...  1. Not enrolled  1. Not enrolled
8980    999406    Male  ...  1. Not enrolled  1. Not enrolled
8981    999543  Female  ...  1. Not enrolled  1. Not enrolled
8982    999698  Female  ...  1. Not enrolled  1. Not enrolled
8983    999963  Female  ...  1. Not enrolled  1. Not enrolled

[8984 rows x 89 columns]

In [ ]:
print(covidtotals)

    iso_code   lastdate        location  ...  median_age  gdp_per_capita  hosp_beds
0        AFG 2020-06-01     Afghanistan  ...        18.6        1803.987       0.50
1        ALB 2020-06-01         Albania  ...        38.0       11803.431       2.89
2        DZA 2020-06-01         Algeria  ...        29.1       13913.839       1.90
3        AND 2020-06-01         Andorra  ...         NaN             NaN        NaN
4        AGO 2020-06-01          Angola  ...        16.8        5819.495        NaN
..       ...        ...             ...  ...         ...             ...        ...
205      VNM 2020-06-01         Vietnam  ...        32.6        6171.884       2.60
206      ESH 2020-06-01  Western Sahara  ...        28.4             NaN        NaN
207      YEM 2020-06-01           Yemen  ...        20.3        1479.147       0.70
208      ZMB 2020-06-01          Zambia  ...        17.7        3689.251       2.00
209      ZWE 2020-06-01        Zimbabwe  ...        19.6        1899.775       1.70

[210 rows x 12 columns]

**เรามาเริ่มตรวจ Data Quality ของ Dataset ชุด nls97.csv**

**STEP 3:** ตั้งค่าและแสดง index และ size ของ nls97 data

ใช้คำสั่ง set_index()

In [ ]:
nls97.set_index("personid", inplace=True) #กดได้แค่ครั้งเดียว ถ้ากดอีกครั้งต้องใช้คำสั่ง reset_index ก่อน
print(nls97)
#คำสั่ง set_index(" ", inplace=True) ทำการ set ให้ column 'personid' เป็น index จะอยู่ใน column แรกแทนที่คอมสร้างให้
#ถ้าต้องการกลับไปที่เดิมให้ใช้คำสั่ง reset_index แทน

          gender  birthmonth  ...      colenrfeb17      colenroct17
personid                      ...
100061    Female           5  ...  1. Not enrolled  1. Not enrolled
100139      Male           9  ...  1. Not enrolled  1. Not enrolled
100284      Male          11  ...  1. Not enrolled  1. Not enrolled
100292      Male           4  ...              NaN              NaN
100583      Male           1  ...  1. Not enrolled  1. Not enrolled
...          ...         ...  ...              ...              ...
999291    Female           4  ...  1. Not enrolled  1. Not enrolled
999406      Male           7  ...  1. Not enrolled  1. Not enrolled
999543    Female           8  ...  1. Not enrolled  1. Not enrolled
999698    Female           5  ...  1. Not enrolled  1. Not enrolled
999963    Female           9  ...  1. Not enrolled  1. Not enrolled

[8984 rows x 88 columns]

In [ ]:
print(nls97.index) #แสดงค่าของ Index

Int64Index([100061, 100139, 100284, 100292, 100583, 100833, 100931, 101089,
            101122, 101132,
            ...
            998997, 999031, 999053, 999087, 999103, 999291, 999406, 999543,
            999698, 999963],
           dtype='int64', name='personid', length=8984)

In [ ]:
print(nls97.shape) #เช็คจำนวน rows และ columns

(8984, 88)

In [ ]:
print(nls97.index.nunique()) #index.nunique แสดงจำนวนค่าที่ไม่ซ้ำกันใน index 
#ปรากฎว่าข้อมูล index คุณภาพดี เพราะไม่มีข้อมูลที่ซ้ำกัน

8984

**STEP 4:** แสดงจำนวน data types และ non-null value

ใช้คำสั่ง info()

In [ ]:
print(nls97.info())
#คำสั่ง info() ทำการ list รายชื่อ colums ทั้งหมดและแสดงจำนวน complete values (และ missing values) และ data types 
# --> object คือคอลัมน์ที่เป็น text, string
# --> int64 คือคอลัมน์ที่เป็น integer ตัวเลขจำนวนเต็ม
# --> float64 คือคอลัมน์ที่เป็น float ตัวเลขที่มีทศนิยมได้
#memory usage: 6.4+ MB ขนาดไฟล์ที่ใช้
#จากข้อมูลจะเห็นว่า Dataframe มีคอลัมน์ที่สมบูรณ์แค่ 3 Columns คือ gender, birthmonth, birthyear เป็น complete values
#เพราะมี 8984 non-null rows สมบูรณ์ครบ => ถ้าเป็น 6663 non-null แสดงว่ามี missing values = 8984-6663 = 2321

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8984 entries, 100061 to 999963
Data columns (total 88 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   gender                 8984 non-null   object
 1   birthmonth             8984 non-null   int64
 2   birthyear              8984 non-null   int64
 3   highestgradecompleted  6663 non-null   float64
 4   maritalstatus          6672 non-null   object
 5   childathome            4791 non-null   float64
 6   childnotathome         4791 non-null   float64
 7   wageincome             5091 non-null   float64
 8   weeklyhrscomputer      6710 non-null   object
 9   weeklyhrstv            6711 non-null   object
 10  nightlyhrssleep        6706 non-null   float64
 11  satverbal              1406 non-null   float64
 12  satmath                1407 non-null   float64
 13  gpaoverall             6004 non-null   float64
 14  gpaenglish             5798 non-null   float64
 15  gpamath                5766 non-null   float64
 16  gpascience             5684 non-null   float64
 17  highestdegree          8953 non-null   object
 18  govprovidejobs         1833 non-null   object
 19  govpricecontrols       1859 non-null   object
 20  govhealthcare          1874 non-null   object
 21  govelderliving         1872 non-null   object
 22  govindhelp             1815 non-null   object
 23  govunemp               1811 non-null   object
 24  govincomediff          1775 non-null   object
 25  govcollegefinance      1875 non-null   object
 26  govdecenthousing       1847 non-null   object
 27  govprotectenvironment  1860 non-null   object
 28  weeksworked00          8603 non-null   float64
 29  weeksworked01          8564 non-null   float64
 30  weeksworked02          8556 non-null   float64
 31  weeksworked03          8490 non-null   float64
 32  weeksworked04          8458 non-null   float64
 33  weeksworked05          8403 non-null   float64
 34  weeksworked06          8340 non-null   float64
 35  weeksworked07          8272 non-null   float64
 36  weeksworked08          8186 non-null   float64
 37  weeksworked09          8146 non-null   float64
 38  weeksworked10          8054 non-null   float64
 39  weeksworked11          7968 non-null   float64
 40  weeksworked12          7747 non-null   float64
 41  weeksworked13          7680 non-null   float64
 42  weeksworked14          7612 non-null   float64
 43  weeksworked15          7389 non-null   float64
 44  weeksworked16          7068 non-null   float64
 45  weeksworked17          6670 non-null   float64
 46  colenrfeb97            1250 non-null   object
 47  colenroct97            8501 non-null   object
 48  colenrfeb98            8501 non-null   object
 49  colenroct98            8888 non-null   object
 50  colenrfeb99            8865 non-null   object
 51  colenroct99            8851 non-null   object
 52  colenrfeb00            8820 non-null   object
 53  colenroct00            8805 non-null   object
 54  colenrfeb01            8786 non-null   object
 55  colenroct01            8758 non-null   object
 56  colenrfeb02            8732 non-null   object
 57  colenroct02            8698 non-null   object
 58  colenrfeb03            8658 non-null   object
 59  colenroct03            8622 non-null   object
 60  colenrfeb04            8578 non-null   object
 61  colenroct04            8546 non-null   object
 62  colenrfeb05            8508 non-null   object
 63  colenroct05            8471 non-null   object
 64  colenrfeb06            8426 non-null   object
 65  colenroct06            8407 non-null   object
 66  colenrfeb07            8352 non-null   object
 67  colenroct07            8331 non-null   object
 68  colenrfeb08            8289 non-null   object
 69  colenroct08            8280 non-null   object
 70  colenrfeb09            8236 non-null   object
 71  colenroct09            8193 non-null   object
 72  colenrfeb10            8116 non-null   object
 73  colenroct10            8091 non-null   object
 74  colenrfeb11            8037 non-null   object
 75  colenroct11            7972 non-null   object
 76  colenrfeb12            7794 non-null   object
 77  colenroct12            7754 non-null   object
 78  colenrfeb13            7754 non-null   object
 79  colenroct13            7754 non-null   object
 80  colenrfeb14            7624 non-null   object
 81  colenroct14            7469 non-null   object
 82  colenrfeb15            7469 non-null   object
 83  colenroct15            7469 non-null   object
 84  colenrfeb16            7036 non-null   object
 85  colenroct16            6733 non-null   object
 86  colenrfeb17            6733 non-null   object
 87  colenroct17            6734 non-null   object
dtypes: float64(29), int64(2), object(57)
memory usage: 6.4+ MB
None

**STEP 5:** แสดงข้อมูล rows หัวบน 

ใช้คำสั่ง .head() ถ้าต้องการแสดงหัวหางใช้คำสั่ง .tail()

In [ ]:
print(nls97.head(3))

          gender  birthmonth  ...      colenrfeb17      colenroct17
personid                      ...
100061    Female           5  ...  1. Not enrolled  1. Not enrolled
100139      Male           9  ...  1. Not enrolled  1. Not enrolled
100284      Male          11  ...  1. Not enrolled  1. Not enrolled

[3 rows x 88 columns]

**STEP 6:** ทำการปรับ rows-->columns และ columns-->rows 

ใช้คำสั่ง .T (Trsnspose) เพื่อแสดงให้เห็นข้อมูลมากขึ้น

In [ ]:
print(nls97.head(3).T)

personid                        100061           100139           100284
gender                          Female             Male             Male
birthmonth                           5                9               11
birthyear                         1980             1983             1984
highestgradecompleted               13               12                7
maritalstatus                  Married          Married    Never-married
...                                ...              ...              ...
colenroct15            1. Not enrolled  1. Not enrolled  1. Not enrolled
colenrfeb16            1. Not enrolled  1. Not enrolled  1. Not enrolled
colenroct16            1. Not enrolled  1. Not enrolled  1. Not enrolled
colenrfeb17            1. Not enrolled  1. Not enrolled  1. Not enrolled
colenroct17            1. Not enrolled  1. Not enrolled  1. Not enrolled

[88 rows x 3 columns]

**เรามาเริ่มตรวจ Data Quality ของ Dataset ชุด covidtotals.csv**

**STEP 7:** ตั้งค่าและแสดง index และ size ของ covidtotals.csv data

ใช้คำสั่ง set_index()

In [ ]:
covidtotals.set_index("iso_code", inplace=True) #กดได้แค่ครั้งเดียว ถ้ากดอีกครั้งต้องใช้คำสั่ง reset_index ก่อน
print(covidtotals)
#คำสั่ง set_index(" ", inplace=True) ทำการ set ให้ column 'personid' เป็น index จะอยู่ใน column แรกแทนที่คอมสร้างให้
#ถ้าต้องการกลับไปที่เดิมให้ใช้คำสั่ง reset_index แทน

           lastdate        location  ...  gdp_per_capita  hosp_beds
iso_code                             ...
AFG      2020-06-01     Afghanistan  ...        1803.987       0.50
ALB      2020-06-01         Albania  ...       11803.431       2.89
DZA      2020-06-01         Algeria  ...       13913.839       1.90
AND      2020-06-01         Andorra  ...             NaN        NaN
AGO      2020-06-01          Angola  ...        5819.495        NaN
...             ...             ...  ...             ...        ...
VNM      2020-06-01         Vietnam  ...        6171.884       2.60
ESH      2020-06-01  Western Sahara  ...             NaN        NaN
YEM      2020-06-01           Yemen  ...        1479.147       0.70
ZMB      2020-06-01          Zambia  ...        3689.251       2.00
ZWE      2020-06-01        Zimbabwe  ...        1899.775       1.70

[210 rows x 11 columns]

In [ ]:
print(covidtotals.index) #แสดงค่าของ Index

Index(['AFG', 'ALB', 'DZA', 'AND', 'AGO', 'AIA', 'ATG', 'ARG', 'ARM', 'ABW',
       ...
       'VIR', 'URY', 'UZB', 'VAT', 'VEN', 'VNM', 'ESH', 'YEM', 'ZMB', 'ZWE'],
      dtype='object', name='iso_code', length=210)

In [ ]:
print(covidtotals.shape) #เช็คจำนวน rows และ columns

(210, 11)

In [ ]:
print(covidtotals.index.nunique()) #index.nunique แสดงจำนวนค่าที่ไม่ซ้ำกันใน index 
#ปรากฎว่าข้อมูล index คุณภาพดี เพราะไม่มีข้อมูลที่ซ้ำกัน

210

**STEP 8:** แสดงจำนวน data types และ non-null value

ใช้คำสั่ง info()

In [ ]:
print(covidtotals.info())
#คำสั่ง info() ทำการ list รายชื่อ colums ทั้งหมดและแสดงจำนวน complete values (และ missing values) และ data types 
# --> datetime64 คือคอลัมน์ที่เป็น datetime ค่าวันเดือนปี
# --> object คือคอลัมน์ที่เป็น text, string
# --> int64 คือคอลัมน์ที่เป็น integer ตัวเลขจำนวนเต็ม
# --> float64 คือคอลัมน์ที่เป็น float ตัวเลขที่มีทศนิยมได้
#memory usage: 19.7+ KB ขนาดไฟล์ที่ใช้
#จากข้อมูลจะเห็นว่า Dataframe มีคอลัมน์ที่สมบูรณ์แค่ 5 Columns เป็น complete values 
#เพราะมี 210 non-null rows สมบูรณ์ครบ => ถ้าเป็น 209 non-null แสดงว่ามี missing values = 210-209 = 1

<class 'pandas.core.frame.DataFrame'>
Index: 210 entries, AFG to ZWE
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   lastdate         210 non-null    datetime64[ns]
 1   location         210 non-null    object
 2   total_cases      210 non-null    int64
 3   total_deaths     210 non-null    int64
 4   total_cases_pm   209 non-null    float64
 5   total_deaths_pm  209 non-null    float64
 6   population       210 non-null    float64
 7   pop_density      198 non-null    float64
 8   median_age       186 non-null    float64
 9   gdp_per_capita   182 non-null    float64
 10  hosp_beds        164 non-null    float64
dtypes: datetime64[ns](1), float64(7), int64(2), object(1)
memory usage: 19.7+ KB
None

**STEP 9:** แสดงการสุ่มจำนวนข้อมูล Sample กลุ่มตัวอย่างแบบ Random

ใช้คำสั่ง .sample(n, random_state=k) 

n คือ จำนวนข้อมูล sample ที่ต้องการสุ่ม 

k คือ ค่า seed ที่กำหนดการ random กลุ่มข้อมูล จะเป็นเลขจำนวนเต็ม ถ้ากำหนดเลขเดิม ผลการ split ก็เหมือนเดิม

In [ ]:
print(covidtotals.sample(3, random_state=1))

           lastdate        location  ...  gdp_per_capita  hosp_beds
iso_code                             ...
COG      2020-06-01           Congo  ...        4881.406        NaN
THA      2020-06-01        Thailand  ...       16277.671       2.10
CZE      2020-06-01  Czech Republic  ...       32605.906       6.63

[3 rows x 11 columns]

**STEP 10:** ทำการปรับ rows-->columns และ columns-->rows

ใช้คำสั่ง .T (Trsnspose) เพื่อแสดงให้เห็นข้อมูลมากขึ้น

In [ ]:
print(covidtotals.sample(3, random_state=1).T)

iso_code                         COG                  THA                  CZE
lastdate         2020-06-01 00:00:00  2020-06-01 00:00:00  2020-06-01 00:00:00
location                       Congo             Thailand       Czech Republic
total_cases                      611                 3081                 9273
total_deaths                      20                   57                  320
total_cases_pm               110.727                44.14              865.909
total_deaths_pm                3.624                0.817               29.881
population               5.51809e+06             6.98e+07           1.0709e+07
pop_density                   15.405              135.132              137.176
median_age                        19                 40.1                 43.3
gdp_per_capita               4881.41              16277.7              32605.9
hosp_beds                        NaN                  2.1                 6.63