#Data Wrangling with Pandas

[Aj. NesT the Series](http://bit.ly/ajnesttheseriesSubscribe)

Referenence: [Pyhton Data Cleaning Cookbook 2020](https://github.com/PacktPublishing/Python-Data-Cleaning-Cookbook)

##Practice 1: เช็คคุณภาพข้อมูลและทำความสะอาดข้อมูล

Measuring Data Quality and Data Cleaning of Your Data

##Workshop 4: สร้างค่าความถี่ให้กับข้อมูล
--> Generating frequencies for categorical
variables

###Input Datasets

* **[nls97.csv](https://drive.google.com/file/d/1-av28HdgEAYPc7ZSmvIh1JdR6Pb4HIfg/view?usp=sharing)** - the National Longitudinal Survey (NLS) 1997-2017.

####Question 2: เราจะสำรวจวิธีการเลือกและจัดระเบียบให้กับคอลัมน์

**STEP 1:** นำเข้า Datasets โดยทำการ Upload ไฟล์ nls97.csv และไฟล์ covidtotals.csv ขึ้น Google Colab (ไฟล์นี้จะถูกลบเมื่อเราหลุดจาก Session หรือปิด Browser) หรือ Python IDE เช่น PyCharm, VSCode, Juputer Notebook, etc.

**STEP 2:** ทำการอ่านไฟล์ .csv ด้วย pandas เก็บเป็น Dataframe

ใช้คำสั่ง .read_csv()

**STEP 3:** ตั้งค่าและแสดง index และ size ของ nls97 data

ใช้คำสั่ง set_index()

**STEP 4:** ตั้งค่าและแสดง index และ size ของ nls97 data

ใช้คำสั่ง set_index()

**STEP 5:** แสดงจำนวน data types และ non-null value

ใช้คำสั่ง info()

In [1]:
import pandas as pd
import numpy as np
nls97 = pd.read_csv("/content/nls97.csv")
nls97.set_index("personid", inplace=True)
print(nls97)
print(nls97.info())

          gender  birthmonth  ...      colenrfeb17      colenroct17
personid                      ...
100061    Female           5  ...  1. Not enrolled  1. Not enrolled
100139      Male           9  ...  1. Not enrolled  1. Not enrolled
100284      Male          11  ...  1. Not enrolled  1. Not enrolled
100292      Male           4  ...              NaN              NaN
100583      Male           1  ...  1. Not enrolled  1. Not enrolled
...          ...         ...  ...              ...              ...
999291    Female           4  ...  1. Not enrolled  1. Not enrolled
999406      Male           7  ...  1. Not enrolled  1. Not enrolled
999543    Female           8  ...  1. Not enrolled  1. Not enrolled
999698    Female           5  ...  1. Not enrolled  1. Not enrolled
999963    Female           9  ...  1. Not enrolled  1. Not enrolled

[8984 rows x 88 columns]
<class 'pandas.core.frame.DataFrame'>
Int64Index: 8984 entries, 100061 to 999963
Data columns (total 88 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   gender                 8984 non-null   object
 1   birthmonth             8984 non-null   int64
 2   birthyear              8984 non-null   int64
 3   highestgradecompleted  6663 non-null   float64
 4   maritalstatus          6672 non-null   object
 5   childathome            4791 non-null   float64
 6   childnotathome         4791 non-null   float64
 7   wageincome             5091 non-null   float64
 8   weeklyhrscomputer      6710 non-null   object
 9   weeklyhrstv            6711 non-null   object
 10  nightlyhrssleep        6706 non-null   float64
 11  satverbal              1406 non-null   float64
 12  satmath                1407 non-null   float64
 13  gpaoverall             6004 non-null   float64
 14  gpaenglish             5798 non-null   float64
 15  gpamath                5766 non-null   float64
 16  gpascience             5684 non-null   float64
 17  highestdegree          8953 non-null   object
 18  govprovidejobs         1833 non-null   object
 19  govpricecontrols       1859 non-null   object
 20  govhealthcare          1874 non-null   object
 21  govelderliving         1872 non-null   object
 22  govindhelp             1815 non-null   object
 23  govunemp               1811 non-null   object
 24  govincomediff          1775 non-null   object
 25  govcollegefinance      1875 non-null   object
 26  govdecenthousing       1847 non-null   object
 27  govprotectenvironment  1860 non-null   object
 28  weeksworked00          8603 non-null   float64
 29  weeksworked01          8564 non-null   float64
 30  weeksworked02          8556 non-null   float64
 31  weeksworked03          8490 non-null   float64
 32  weeksworked04          8458 non-null   float64
 33  weeksworked05          8403 non-null   float64
 34  weeksworked06          8340 non-null   float64
 35  weeksworked07          8272 non-null   float64
 36  weeksworked08          8186 non-null   float64
 37  weeksworked09          8146 non-null   float64
 38  weeksworked10          8054 non-null   float64
 39  weeksworked11          7968 non-null   float64
 40  weeksworked12          7747 non-null   float64
 41  weeksworked13          7680 non-null   float64
 42  weeksworked14          7612 non-null   float64
 43  weeksworked15          7389 non-null   float64
 44  weeksworked16          7068 non-null   float64
 45  weeksworked17          6670 non-null   float64
 46  colenrfeb97            1250 non-null   object
 47  colenroct97            8501 non-null   object
 48  colenrfeb98            8501 non-null   object
 49  colenroct98            8888 non-null   object
 50  colenrfeb99            8865 non-null   object
 51  colenroct99            8851 non-null   object
 52  colenrfeb00            8820 non-null   object
 53  colenroct00            8805 non-null   object
 54  colenrfeb01            8786 non-null   object
 55  colenroct01            8758 non-null   object
 56  colenrfeb02            8732 non-null   object
 57  colenroct02            8698 non-null   object
 58  colenrfeb03            8658 non-null   object
 59  colenroct03            8622 non-null   object
 60  colenrfeb04            8578 non-null   object
 61  colenroct04            8546 non-null   object
 62  colenrfeb05            8508 non-null   object
 63  colenroct05            8471 non-null   object
 64  colenrfeb06            8426 non-null   object
 65  colenroct06            8407 non-null   object
 66  colenrfeb07            8352 non-null   object
 67  colenroct07            8331 non-null   object
 68  colenrfeb08            8289 non-null   object
 69  colenroct08            8280 non-null   object
 70  colenrfeb09            8236 non-null   object
 71  colenroct09            8193 non-null   object
 72  colenrfeb10            8116 non-null   object
 73  colenroct10            8091 non-null   object
 74  colenrfeb11            8037 non-null   object
 75  colenroct11            7972 non-null   object
 76  colenrfeb12            7794 non-null   object
 77  colenroct12            7754 non-null   object
 78  colenrfeb13            7754 non-null   object
 79  colenroct13            7754 non-null   object
 80  colenrfeb14            7624 non-null   object
 81  colenroct14            7469 non-null   object
 82  colenrfeb15            7469 non-null   object
 83  colenroct15            7469 non-null   object
 84  colenrfeb16            7036 non-null   object
 85  colenroct16            6733 non-null   object
 86  colenrfeb17            6733 non-null   object
 87  colenroct17            6734 non-null   object
dtypes: float64(29), int64(2), object(57)
memory usage: 6.1+ MB
None

**STEP 6:** แปลง data types ของ columns ที่เป็น object ให้เป็น category เพื่อทำข้อมูลให้เหมาะสม

data typs --> category เหมาะสำหรับข้อมูลที่มีซ้ำ ๆ กัน ที่ไม่ค่อยต่างกันมาก ช่วยในการเรื่องการประหยัด Memory

ใช้คำสั่ง .loc[ ] ทำการ Filter เข้าถึงข้อมูล -->  คำสั่ง pandas หมวด Filter จะมีทั้ง .loc [  ], .iloc [  ], .query [  ]

ใช้คำสั่ง .select_dtypes ทำการเลือก data types

ใช้คำสั่ง .apply(lamba function) เพื่อแปลงข้อมูล

ใช้คำสั่ง .astype ทำการแปลง data types

In [2]:
nls97.loc[:, nls97.dtypes == 'object'] = \
  nls97.select_dtypes(['object']). \
  apply(lambda x: x.astype('category'))  
print(nls97.info())                         
#เครื่องหมาย \ คือ เพื่อเชื่อมประโยคให้ต่อกันในอีกบรรทัดนึง
#Syntax --> .loc['row_name' , 'column_name'] สนใจชื่อ
#Syntax --> .iloc['row_index_number' , 'column_index_number'] สนใจตำแหน่ง index ของ row และ column
#loc[: Filter ชื่อทุกตัว, ที่มีเงื่อนไขเป็น 'object'] และทำการเลือก loc ย่อมาจาก location based
#ทำการแปลง colums ที่เป็น 'object' --> 'category'
#ผลปรากฎว่า 'category' ช่วยลด memory (2.7 MB) ได้มากกว่า 'object' (6.1+ MB)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8984 entries, 100061 to 999963
Data columns (total 88 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   gender                 8984 non-null   category
 1   birthmonth             8984 non-null   int64
 2   birthyear              8984 non-null   int64
 3   highestgradecompleted  6663 non-null   float64
 4   maritalstatus          6672 non-null   category
 5   childathome            4791 non-null   float64
 6   childnotathome         4791 non-null   float64
 7   wageincome             5091 non-null   float64
 8   weeklyhrscomputer      6710 non-null   category
 9   weeklyhrstv            6711 non-null   category
 10  nightlyhrssleep        6706 non-null   float64
 11  satverbal              1406 non-null   float64
 12  satmath                1407 non-null   float64
 13  gpaoverall             6004 non-null   float64
 14  gpaenglish             5798 non-null   float64
 15  gpamath                5766 non-null   float64
 16  gpascience             5684 non-null   float64
 17  highestdegree          8953 non-null   category
 18  govprovidejobs         1833 non-null   category
 19  govpricecontrols       1859 non-null   category
 20  govhealthcare          1874 non-null   category
 21  govelderliving         1872 non-null   category
 22  govindhelp             1815 non-null   category
 23  govunemp               1811 non-null   category
 24  govincomediff          1775 non-null   category
 25  govcollegefinance      1875 non-null   category
 26  govdecenthousing       1847 non-null   category
 27  govprotectenvironment  1860 non-null   category
 28  weeksworked00          8603 non-null   float64
 29  weeksworked01          8564 non-null   float64
 30  weeksworked02          8556 non-null   float64
 31  weeksworked03          8490 non-null   float64
 32  weeksworked04          8458 non-null   float64
 33  weeksworked05          8403 non-null   float64
 34  weeksworked06          8340 non-null   float64
 35  weeksworked07          8272 non-null   float64
 36  weeksworked08          8186 non-null   float64
 37  weeksworked09          8146 non-null   float64
 38  weeksworked10          8054 non-null   float64
 39  weeksworked11          7968 non-null   float64
 40  weeksworked12          7747 non-null   float64
 41  weeksworked13          7680 non-null   float64
 42  weeksworked14          7612 non-null   float64
 43  weeksworked15          7389 non-null   float64
 44  weeksworked16          7068 non-null   float64
 45  weeksworked17          6670 non-null   float64
 46  colenrfeb97            1250 non-null   category
 47  colenroct97            8501 non-null   category
 48  colenrfeb98            8501 non-null   category
 49  colenroct98            8888 non-null   category
 50  colenrfeb99            8865 non-null   category
 51  colenroct99            8851 non-null   category
 52  colenrfeb00            8820 non-null   category
 53  colenroct00            8805 non-null   category
 54  colenrfeb01            8786 non-null   category
 55  colenroct01            8758 non-null   category
 56  colenrfeb02            8732 non-null   category
 57  colenroct02            8698 non-null   category
 58  colenrfeb03            8658 non-null   category
 59  colenroct03            8622 non-null   category
 60  colenrfeb04            8578 non-null   category
 61  colenroct04            8546 non-null   category
 62  colenrfeb05            8508 non-null   category
 63  colenroct05            8471 non-null   category
 64  colenrfeb06            8426 non-null   category
 65  colenroct06            8407 non-null   category
 66  colenrfeb07            8352 non-null   category
 67  colenroct07            8331 non-null   category
 68  colenrfeb08            8289 non-null   category
 69  colenroct08            8280 non-null   category
 70  colenrfeb09            8236 non-null   category
 71  colenroct09            8193 non-null   category
 72  colenrfeb10            8116 non-null   category
 73  colenroct10            8091 non-null   category
 74  colenrfeb11            8037 non-null   category
 75  colenroct11            7972 non-null   category
 76  colenrfeb12            7794 non-null   category
 77  colenroct12            7754 non-null   category
 78  colenrfeb13            7754 non-null   category
 79  colenroct13            7754 non-null   category
 80  colenrfeb14            7624 non-null   category
 81  colenroct14            7469 non-null   category
 82  colenrfeb15            7469 non-null   category
 83  colenroct15            7469 non-null   category
 84  colenrfeb16            7036 non-null   category
 85  colenroct16            6733 non-null   category
 86  colenrfeb17            6733 non-null   category
 87  colenroct17            6734 non-null   category
dtypes: category(57), float64(29), int64(2)
memory usage: 2.7 MB
None

**STEP 7:** แสดงชื่อ columns ที่มีชนิดข้อมูล category และตรวจสอบจำนวน missing values

ใช้คำสั่ง select_dtypes(include=[ "category" ]) เลือกเฉพาะ data types ชนิด category

ใช้คำสั่ง .isnull().sum()  หาผลรวมของ missing values

--> สังเกตเห็นว่า 

gender = 0 แสดงว่าไม่มี missing values ถือว่าเป็น complete values

highestdegree = 31 คือค่า missing values ที่พบก็ถือว่ายังน้อยกว่า columns อื่น ๆ

maritalstatus = 2312 คือค่า missing values ถือว่ามากแล้ว

In [8]:
catcols = nls97.select_dtypes(include=["category"]).columns
print(catcols)
print(nls97[catcols].isnull().sum())

Index(['gender', 'maritalstatus', 'weeklyhrscomputer', 'weeklyhrstv',
       'highestdegree', 'govprovidejobs', 'govpricecontrols', 'govhealthcare',
       'govelderliving', 'govindhelp', 'govunemp', 'govincomediff',
       'govcollegefinance', 'govdecenthousing', 'govprotectenvironment',
       'colenrfeb97', 'colenroct97', 'colenrfeb98', 'colenroct98',
       'colenrfeb99', 'colenroct99', 'colenrfeb00', 'colenroct00',
       'colenrfeb01', 'colenroct01', 'colenrfeb02', 'colenroct02',
       'colenrfeb03', 'colenroct03', 'colenrfeb04', 'colenroct04',
       'colenrfeb05', 'colenroct05', 'colenrfeb06', 'colenroct06',
       'colenrfeb07', 'colenroct07', 'colenrfeb08', 'colenroct08',
       'colenrfeb09', 'colenroct09', 'colenrfeb10', 'colenroct10',
       'colenrfeb11', 'colenroct11', 'colenrfeb12', 'colenroct12',
       'colenrfeb13', 'colenroct13', 'colenrfeb14', 'colenroct14',
       'colenrfeb15', 'colenroct15', 'colenrfeb16', 'colenroct16',
       'colenrfeb17', 'colenroct17'],
      dtype='object')
gender                      0
maritalstatus            2312
weeklyhrscomputer        2274
weeklyhrstv              2273
highestdegree              31
govprovidejobs           7151
govpricecontrols         7125
govhealthcare            7110
govelderliving           7112
govindhelp               7169
govunemp                 7173
govincomediff            7209
govcollegefinance        7109
govdecenthousing         7137
govprotectenvironment    7124
colenrfeb97              7734
colenroct97               483
colenrfeb98               483
colenroct98                96
colenrfeb99               119
colenroct99               133
colenrfeb00               164
colenroct00               179
colenrfeb01               198
colenroct01               226
colenrfeb02               252
colenroct02               286
colenrfeb03               326
colenroct03               362
colenrfeb04               406
colenroct04               438
colenrfeb05               476
colenroct05               513
colenrfeb06               558
colenroct06               577
colenrfeb07               632
colenroct07               653
colenrfeb08               695
colenroct08               704
colenrfeb09               748
colenroct09               791
colenrfeb10               868
colenroct10               893
colenrfeb11               947
colenroct11              1012
colenrfeb12              1190
colenroct12              1230
colenrfeb13              1230
colenroct13              1230
colenrfeb14              1360
colenroct14              1515
colenrfeb15              1515
colenroct15              1515
colenrfeb16              1948
colenroct16              2251
colenrfeb17              2251
colenroct17              2250
dtype: int64

**STEP 8:** ทำการแสดง frequencies ของสถานะสมรส maritalstatus

ใช้คำสั่ง .value_counts() ทำการนับจำนวน values

In [9]:
print(nls97.maritalstatus.value_counts())

Married          3066
Never-married    2766
Divorced          663
Separated         154
Widowed            23
Name: maritalstatus, dtype: int64

**STEP 9:** ทำการปิดการเรียงตามจำนวน frequency ซึ่งจะเรียงเป็นตัวอักษรแทน

Turn off sorting by frequency

ใช้คำสั่ง (sort=False)

In [12]:
print(nls97.maritalstatus.value_counts(sort=False)) #เปลี่ยนเป็น True จะเรียงตามจำนวนความถี่

Divorced          663
Married          3066
Never-married    2766
Separated         154
Widowed            23
Name: maritalstatus, dtype: int64

**STEP 10:** แสดงเป็น % การนับ freauency

Show percentages instead of counts

ใช้คำสั่ง (normalize=True)

In [13]:
print(nls97.maritalstatus.value_counts(sort=False, normalize=True))

Divorced         0.099371
Married          0.459532
Never-married    0.414568
Separated        0.023082
Widowed          0.003447
Name: maritalstatus, dtype: float64

**STEP 11:** แสดง % frequency ของคอลัมน์ government ทั้งหมด 

Filter the DataFrame for just the government responsibility columns, then use
apply to run value_counts on all columns in that DataFrame

ใช้คำสั่ง .filter(like="text") เพื่อกรองคำที่อยู่ใน columns ที่ต้องการ

ใช้คำสั่ง .apply ทำการปรับค่ารูปแบบข้อมูลตามที่ใส่ไว้

In [14]:
print(nls97.filter(like="gov").apply(pd.value_counts,normalize=True))

                   govprovidejobs  ...  govprotectenvironment
1. Definitely            0.247681  ...               0.668817
2. Probably              0.336607  ...               0.286559
3. Probably not          0.252046  ...               0.029570
4. Definitely not        0.163666  ...               0.015054

[4 rows x 10 columns]

**STEP 12:** ค้นหา % frequency ของคอลัมน์ government ทั้งหมดที่แต่งงานแล้ว สถานะ Married

In [29]:
print(nls97[nls97.maritalstatus=="Married"].\
  filter(like="gov").\
  apply(pd.value_counts, normalize=True))

                   govprovidejobs  ...  govprotectenvironment
1. Definitely            0.173315  ...               0.644505
2. Probably              0.328748  ...               0.313433
3. Probably not          0.314993  ...               0.028494
4. Definitely not        0.182944  ...               0.013569

[4 rows x 10 columns]

**STEP 13:** ค้นหา frequency และ % สำหรับ category columns ทั้งหมดใน DataFrame

ใช้คำสั่ง open('/path/...','w') เพื่อสร้างไฟล์ว่างเปล่าชื่อ frequencies.txt รอโปรแกรมสร้างประมาณ 1 นาที

In [50]:
freqout = open('/content/frequencies.txt', 'w') #รอโปรแกรมสร้างให้

**STEP 14:** เขียนโปรแกรมแสดงค่า frequency ต่าง ๆ ของที่เป็น category columns ทั้งหมด

In [51]:
for col in nls97.select_dtypes(include=["category"]):
    print(col, "----------------------", "frequencies",
    nls97[col].value_counts(sort=False),"percentages",
    nls97[col].value_counts(normalize=True,sort=False),
    sep="\n\n", end="\n\n\n", file=freqout)
freqout.close() #Run เพียงครั้งเดียว