#Data Wrangling with Pandas

[Aj. NesT the Series](http://bit.ly/ajnesttheseriesSubscribe)

Referenence: [Pyhton Data Cleaning Cookbook 2020](https://github.com/PacktPublishing/Python-Data-Cleaning-Cookbook)

##Practice 1: เช็คคุณภาพข้อมูลและทำความสะอาดข้อมูล

Measuring Data Quality and Data Cleaning of Your Data

##Workshop 3: การเลือกแถว
--> Selecting Rows

###Input Datasets

* **[nls97.csv](https://drive.google.com/file/d/1-av28HdgEAYPc7ZSmvIh1JdR6Pb4HIfg/view?usp=sharing)** - the National Longitudinal Survey (NLS) 1997-2017.

####Question 3: เราจะสำรวจวิธีการเลือกแถว Zoom In Zoom Out ข้อมูล

**STEP 1:** นำเข้า Datasets โดยทำการ Upload ไฟล์ nls97.csv และไฟล์ covidtotals.csv ขึ้น Google Colab (ไฟล์นี้จะถูกลบเมื่อเราหลุดจาก Session หรือปิด Browser) หรือ Python IDE เช่น PyCharm, VSCode, Juputer Notebook, etc.

**STEP 2:** ทำการอ่านไฟล์ .csv ด้วย pandas เก็บเป็น Dataframe

ใช้คำสั่ง .read_csv()

**STEP 3:** ตั้งค่าและแสดง index และ size ของ nls97 data

ใช้คำสั่ง set_index()

**STEP 4:** ตั้งค่าและแสดง index และ size ของ nls97 data

ใช้คำสั่ง set_index()

**STEP 5:** แสดงจำนวน data types และ non-null value

ใช้คำสั่ง info()

In [ ]:
import pandas as pd
import numpy as np
nls97 = pd.read_csv("/content/nls97.csv")
nls97.set_index("personid", inplace=True)
print(nls97)
print(nls97.info())

          gender  birthmonth  ...      colenrfeb17      colenroct17
personid                      ...
100061    Female           5  ...  1. Not enrolled  1. Not enrolled
100139      Male           9  ...  1. Not enrolled  1. Not enrolled
100284      Male          11  ...  1. Not enrolled  1. Not enrolled
100292      Male           4  ...              NaN              NaN
100583      Male           1  ...  1. Not enrolled  1. Not enrolled
...          ...         ...  ...              ...              ...
999291    Female           4  ...  1. Not enrolled  1. Not enrolled
999406      Male           7  ...  1. Not enrolled  1. Not enrolled
999543    Female           8  ...  1. Not enrolled  1. Not enrolled
999698    Female           5  ...  1. Not enrolled  1. Not enrolled
999963    Female           9  ...  1. Not enrolled  1. Not enrolled

[8984 rows x 88 columns]
<class 'pandas.core.frame.DataFrame'>
Int64Index: 8984 entries, 100061 to 999963
Data columns (total 88 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   gender                 8984 non-null   object
 1   birthmonth             8984 non-null   int64
 2   birthyear              8984 non-null   int64
 3   highestgradecompleted  6663 non-null   float64
 4   maritalstatus          6672 non-null   object
 5   childathome            4791 non-null   float64
 6   childnotathome         4791 non-null   float64
 7   wageincome             5091 non-null   float64
 8   weeklyhrscomputer      6710 non-null   object
 9   weeklyhrstv            6711 non-null   object
 10  nightlyhrssleep        6706 non-null   float64
 11  satverbal              1406 non-null   float64
 12  satmath                1407 non-null   float64
 13  gpaoverall             6004 non-null   float64
 14  gpaenglish             5798 non-null   float64
 15  gpamath                5766 non-null   float64
 16  gpascience             5684 non-null   float64
 17  highestdegree          8953 non-null   object
 18  govprovidejobs         1833 non-null   object
 19  govpricecontrols       1859 non-null   object
 20  govhealthcare          1874 non-null   object
 21  govelderliving         1872 non-null   object
 22  govindhelp             1815 non-null   object
 23  govunemp               1811 non-null   object
 24  govincomediff          1775 non-null   object
 25  govcollegefinance      1875 non-null   object
 26  govdecenthousing       1847 non-null   object
 27  govprotectenvironment  1860 non-null   object
 28  weeksworked00          8603 non-null   float64
 29  weeksworked01          8564 non-null   float64
 30  weeksworked02          8556 non-null   float64
 31  weeksworked03          8490 non-null   float64
 32  weeksworked04          8458 non-null   float64
 33  weeksworked05          8403 non-null   float64
 34  weeksworked06          8340 non-null   float64
 35  weeksworked07          8272 non-null   float64
 36  weeksworked08          8186 non-null   float64
 37  weeksworked09          8146 non-null   float64
 38  weeksworked10          8054 non-null   float64
 39  weeksworked11          7968 non-null   float64
 40  weeksworked12          7747 non-null   float64
 41  weeksworked13          7680 non-null   float64
 42  weeksworked14          7612 non-null   float64
 43  weeksworked15          7389 non-null   float64
 44  weeksworked16          7068 non-null   float64
 45  weeksworked17          6670 non-null   float64
 46  colenrfeb97            1250 non-null   object
 47  colenroct97            8501 non-null   object
 48  colenrfeb98            8501 non-null   object
 49  colenroct98            8888 non-null   object
 50  colenrfeb99            8865 non-null   object
 51  colenroct99            8851 non-null   object
 52  colenrfeb00            8820 non-null   object
 53  colenroct00            8805 non-null   object
 54  colenrfeb01            8786 non-null   object
 55  colenroct01            8758 non-null   object
 56  colenrfeb02            8732 non-null   object
 57  colenroct02            8698 non-null   object
 58  colenrfeb03            8658 non-null   object
 59  colenroct03            8622 non-null   object
 60  colenrfeb04            8578 non-null   object
 61  colenroct04            8546 non-null   object
 62  colenrfeb05            8508 non-null   object
 63  colenroct05            8471 non-null   object
 64  colenrfeb06            8426 non-null   object
 65  colenroct06            8407 non-null   object
 66  colenrfeb07            8352 non-null   object
 67  colenroct07            8331 non-null   object
 68  colenrfeb08            8289 non-null   object
 69  colenroct08            8280 non-null   object
 70  colenrfeb09            8236 non-null   object
 71  colenroct09            8193 non-null   object
 72  colenrfeb10            8116 non-null   object
 73  colenroct10            8091 non-null   object
 74  colenrfeb11            8037 non-null   object
 75  colenroct11            7972 non-null   object
 76  colenrfeb12            7794 non-null   object
 77  colenroct12            7754 non-null   object
 78  colenrfeb13            7754 non-null   object
 79  colenroct13            7754 non-null   object
 80  colenrfeb14            7624 non-null   object
 81  colenroct14            7469 non-null   object
 82  colenrfeb15            7469 non-null   object
 83  colenroct15            7469 non-null   object
 84  colenrfeb16            7036 non-null   object
 85  colenroct16            6733 non-null   object
 86  colenrfeb17            6733 non-null   object
 87  colenroct17            6734 non-null   object
dtypes: float64(29), int64(2), object(57)
memory usage: 6.1+ MB
None

**STEP 6:** ทำการเลือก row เริ่มที่แถว 1001 ไปถึงแถว 1004

Use slicing to select a few rows

[1000:1004] เนื่องจาก index เริ่มต้นที่ 0 => [เลขแถวเริ่มต้น-1: เลขแถวปลายทาง]

In [ ]:
print(nls97[1000:1004]) #ให้ทดลองเปิดไฟล์ .csv ในโปรแกรม Excel จะอยู่ที่บรรทัด 1002 - 1005

          gender  birthmonth  ...      colenrfeb17      colenroct17
personid                      ...
195884      Male          12  ...              NaN              NaN
195891      Male           9  ...  1. Not enrolled  1. Not enrolled
195970    Female           3  ...  1. Not enrolled  1. Not enrolled
195996    Female           9  ...              NaN              NaN

[4 rows x 88 columns]

**STEP 7:** ทำการ Transport กลับ rows เป็น columns กลับ columns เป็น rows

ใช้คำสั่ง .T Transport เพื่อให้เห็นรายละเอียดของข้อมูลมากขึ้น

In [ ]:
print(nls97[1000:1004].T)

personid              195884           195891           195970  195996
gender                  Male             Male           Female  Female
birthmonth                12                9                3       9
birthyear               1981             1980             1982    1980
highestgradecompleted    NaN               12               17     NaN
maritalstatus            NaN    Never-married    Never-married     NaN
...                      ...              ...              ...     ...
colenroct15              NaN  1. Not enrolled  1. Not enrolled     NaN
colenrfeb16              NaN  1. Not enrolled  1. Not enrolled     NaN
colenroct16              NaN  1. Not enrolled  1. Not enrolled     NaN
colenrfeb17              NaN  1. Not enrolled  1. Not enrolled     NaN
colenroct17              NaN  1. Not enrolled  1. Not enrolled     NaN

[88 rows x 4 columns]

**STEP 8:** ทำการเลือก rows แบบกระโดดข้ามแถวระหว่างทาง

Use slicing to start at the 1001st row and go to the 1004th row, skipping every
other row.

ใช้คำสั่ง [เลขแถวเริ่มต้น-1 : เลขแถวปลายทาง : ช่วงแถวที่ข้าม]

In [ ]:
print(nls97[1000:1004:2].T) #ข้ามไป step ละ 2 แถว เช่น 1 -> 3

personid              195884           195970
gender                  Male           Female
birthmonth                12                3
birthyear               1981             1982
highestgradecompleted    NaN               17
maritalstatus            NaN    Never-married
...                      ...              ...
colenroct15              NaN  1. Not enrolled
colenrfeb16              NaN  1. Not enrolled
colenroct16              NaN  1. Not enrolled
colenrfeb17              NaN  1. Not enrolled
colenroct17              NaN  1. Not enrolled

[88 rows x 2 columns]

**STEP 9:** ทำการเลือก 3 rows แรก ที่อยู่บนสุด

Select the first three rows using head and [ ] operator slicing

ใช้คำสั่ง [: n] n คือจำนวนแถวบนสุด ผลลัพธ์เหมือนกับคำสั่ง .head()

In [ ]:
#select first 3 rows using head() and Python slicing
print(nls97.head(3).T)
print(nls97[:3].T) #ใช้ [: ] ผลลัพธ์เหมือนกับคำสั่ง .head()

personid                        100061           100139           100284
gender                          Female             Male             Male
birthmonth                           5                9               11
birthyear                         1980             1983             1984
highestgradecompleted               13               12                7
maritalstatus                  Married          Married    Never-married
...                                ...              ...              ...
colenroct15            1. Not enrolled  1. Not enrolled  1. Not enrolled
colenrfeb16            1. Not enrolled  1. Not enrolled  1. Not enrolled
colenroct16            1. Not enrolled  1. Not enrolled  1. Not enrolled
colenrfeb17            1. Not enrolled  1. Not enrolled  1. Not enrolled
colenroct17            1. Not enrolled  1. Not enrolled  1. Not enrolled

[88 rows x 3 columns]
personid                        100061           100139           100284
gender                          Female             Male             Male
birthmonth                           5                9               11
birthyear                         1980             1983             1984
highestgradecompleted               13               12                7
maritalstatus                  Married          Married    Never-married
...                                ...              ...              ...
colenroct15            1. Not enrolled  1. Not enrolled  1. Not enrolled
colenrfeb16            1. Not enrolled  1. Not enrolled  1. Not enrolled
colenroct16            1. Not enrolled  1. Not enrolled  1. Not enrolled
colenrfeb17            1. Not enrolled  1. Not enrolled  1. Not enrolled
colenroct17            1. Not enrolled  1. Not enrolled  1. Not enrolled

[88 rows x 3 columns]

**STEP 10:** ทำการเลือก 3 rows ล่างสุด 

Select the last three rows using tail and [ ] operator slicing

ใช้คำสั่ง [-n: ] n คือ จำนวนแถวล่างสุด ผลลัพธ์เหมือนกับคำสั่ง .tail()

In [ ]:
#select last 3 rows using tail() and Python slicing
print(nls97.tail(3).T)
print(nls97[-3:].T) #ใช้ [-n: ] ผลลัพธ์เหมือนกับคำสั่ง .tail()

personid                        999543           999698           999963
gender                          Female           Female           Female
birthmonth                           8                5                9
birthyear                         1984             1983             1982
highestgradecompleted               12               12               17
maritalstatus                 Divorced    Never-married          Married
...                                ...              ...              ...
colenroct15            1. Not enrolled  1. Not enrolled  1. Not enrolled
colenrfeb16            1. Not enrolled  1. Not enrolled  1. Not enrolled
colenroct16            1. Not enrolled  1. Not enrolled  1. Not enrolled
colenrfeb17            1. Not enrolled  1. Not enrolled  1. Not enrolled
colenroct17            1. Not enrolled  1. Not enrolled  1. Not enrolled

[88 rows x 3 columns]
personid                        999543           999698           999963
gender                          Female           Female           Female
birthmonth                           8                5                9
birthyear                         1984             1983             1982
highestgradecompleted               12               12               17
maritalstatus                 Divorced    Never-married          Married
...                                ...              ...              ...
colenroct15            1. Not enrolled  1. Not enrolled  1. Not enrolled
colenrfeb16            1. Not enrolled  1. Not enrolled  1. Not enrolled
colenroct16            1. Not enrolled  1. Not enrolled  1. Not enrolled
colenrfeb17            1. Not enrolled  1. Not enrolled  1. Not enrolled
colenroct17            1. Not enrolled  1. Not enrolled  1. Not enrolled

[88 rows x 3 columns]

**STEP 11:** ทำการเลือกค่าข้อมูล values ของ rows ด้วยคำสั่ง .loc 

Select a few rows using the loc data accessor

ใช้คำสั่ง .loc[ index_values ] ในที่นี้คือค่าที่อยู่ในแถวของ personid ซึ่งตั้งเป็น index]

เช่น ต้องการค่าข้อมูลแถวของ personalid (เนื่องจากเป็น index) ที่ 195884, 195891, 195970

In [ ]:
print(nls97.loc[[195884,195891,195970]].T) # , เลือกแบบค่าที่ต้องการ

personid              195884           195891           195970
gender                  Male             Male           Female
birthmonth                12                9                3
birthyear               1981             1980             1982
highestgradecompleted    NaN               12               17
maritalstatus            NaN    Never-married    Never-married
...                      ...              ...              ...
colenroct15              NaN  1. Not enrolled  1. Not enrolled
colenrfeb16              NaN  1. Not enrolled  1. Not enrolled
colenroct16              NaN  1. Not enrolled  1. Not enrolled
colenrfeb17              NaN  1. Not enrolled  1. Not enrolled
colenroct17              NaN  1. Not enrolled  1. Not enrolled

[88 rows x 3 columns]

In [ ]:
print(nls97.loc[195884:195970].T) # : เลือกแบบจากเริ่มต้นถึงปลายทาง

personid              195884           195891           195970
gender                  Male             Male           Female
birthmonth                12                9                3
birthyear               1981             1980             1982
highestgradecompleted    NaN               12               17
maritalstatus            NaN    Never-married    Never-married
...                      ...              ...              ...
colenroct15              NaN  1. Not enrolled  1. Not enrolled
colenrfeb16              NaN  1. Not enrolled  1. Not enrolled
colenroct16              NaN  1. Not enrolled  1. Not enrolled
colenrfeb17              NaN  1. Not enrolled  1. Not enrolled
colenroct17              NaN  1. Not enrolled  1. Not enrolled

[88 rows x 3 columns]

**STEP 12:** ทำการเลือกแบบค่าตำแหน่ง index ของแถวเพื่อเข้าถึงค่าข้อมูล values ด้วยคำสั่ง .iloc 

Select a few rows from the beginning of the DataFrame with the iloc data accessor

ใช้คำสั่ง .iloc[ index_numbers ] ในที่นี้คือค่าตำแหน่งแถวของ personid ซึ่งตั้งเป็น index]

In [ ]:
print(nls97.iloc[[0,1,2]].T) #เข้าถึงแถวด้านบน นับจากบนลงล่าง
print(nls97.iloc[[-3,-2,-1]].T) #เข้าถึงแถวจากด้านล่าง -1 คืออยู่ล่างสุด นับจากล่างขึ้นบน

personid                        100061           100139           100284
gender                          Female             Male             Male
birthmonth                           5                9               11
birthyear                         1980             1983             1984
highestgradecompleted               13               12                7
maritalstatus                  Married          Married    Never-married
...                                ...              ...              ...
colenroct15            1. Not enrolled  1. Not enrolled  1. Not enrolled
colenrfeb16            1. Not enrolled  1. Not enrolled  1. Not enrolled
colenroct16            1. Not enrolled  1. Not enrolled  1. Not enrolled
colenrfeb17            1. Not enrolled  1. Not enrolled  1. Not enrolled
colenroct17            1. Not enrolled  1. Not enrolled  1. Not enrolled

[88 rows x 3 columns]
personid                        999543           999698           999963
gender                          Female           Female           Female
birthmonth                           8                5                9
birthyear                         1984             1983             1982
highestgradecompleted               12               12               17
maritalstatus                 Divorced    Never-married          Married
...                                ...              ...              ...
colenroct15            1. Not enrolled  1. Not enrolled  1. Not enrolled
colenrfeb16            1. Not enrolled  1. Not enrolled  1. Not enrolled
colenroct16            1. Not enrolled  1. Not enrolled  1. Not enrolled
colenrfeb17            1. Not enrolled  1. Not enrolled  1. Not enrolled
colenroct17            1. Not enrolled  1. Not enrolled  1. Not enrolled

[88 rows x 3 columns]

**STEP 13:** ทำการเลือกหลาย rows ตามเงื่อนไขด้วย boolean indexing

Select multiple rows conditionally

**โจทย์** 

สร้าง DataFrame ของบุคคลที่นอนหลับ ใช้ข้อมูลของคอลัมน์ nightlyhrssleep 

โดยพิจาณาค่า Quantile ประมาณ 5% พบว่านอนหลับประมาณ 4 ชั่วโมง 

ของผู้ตอบแบบสำรวจทั้งหมด 6,706 คน

ลองทดสอบว่าใครนอนหลับ 4 ชั่วโมงหรือน้อยกว่า

ด้วย nls97 nightlyhrssleep<=4 

ซึ่งสร้างชุดค่า True (<=4) และ False (!<=4) ของ  pandas ที่เรากำหนดให้กับ sleepcheckbool

In [ ]:
print(nls97.nightlyhrssleep.quantile(0.05))  #ทดสอบใช้สถิติ quantile 5% พบว่าได้ 4 ชั่วโมง 
print(nls97.nightlyhrssleep.count())         #นับจำนวนผู้คอบแบบสำรวจทั้งหมดในคอลัมน์นี้ พบว่าได้ 6706 คน
sleepcheckbool = nls97.nightlyhrssleep<=4    #สร้างเงื่อนไข ว่าใครนอนหลับ 4 ชั่วโมงหรือน้อยกว่านั้น
print(sleepcheckbool)                        #แสดงคนที่นอนหลับ 4 ชั่วโมงหรือน้อยกว่านั้น
sleepcheckbool.to_csv("/content/sleepcheckbool") #ถ้า True แสดงว่านอนหลับ <= 4 ชั่วโมง
lowsleep = nls97.loc[sleepcheckbool] #ใช้ข้อมูล nls97 แล้ว Filter ข้อมูล sleepcheckbool(<=4)เก็บใน lowsleep
print(lowsleep.shape)                #ข้อมูลมี 364 rows 88 columns
lowsleep.to_csv("/content/lowsleep") #แสดงข้อมูล lowsleep ที่รวมข้อมูล nls97 โดย Filer sleepcheckbool

4.0
6706
personid
100061    False
100139    False
100284    False
100292    False
100583    False
          ...
999291    False
999406    False
999543    False
999698    False
999963    False
Name: nightlyhrssleep, Length: 8984, dtype: bool
(364, 88)

**STEP 14:** ทำการเลือก rows ตามหลายเงื่อนไข

Select rows based on multiple conditions

ใช้คำสั่ง .describe() หาค่าสถิติเบื้องต้นของทุก colums ใน DataFrame

**โจทย์**

ผู้ที่นอนน้อยจะมีจำนวนบุตรที่บ้านอยู่กี่คน

ใช้ Python อธิบายเพื่อให้เข้าใจถึงการแจกแจงจำนวนบุตรของผู้ที่นอน <= 4 ชั่วโมง

สร้าง DataFrame ใหม่กับคนที่มี nightlyhrsleep <= 4 ชั่วโมง และมีจำนวนลูกที่บ้าน >= 3 คนขึ้นไป

In [ ]:
print(lowsleep.childathome.describe())  #ในที่นี้เราจะดูของคอลัมน์ childathome ที่อยู่ภายในชุดข้อมูลของ lowsleep
lowsleep3pluschildren = nls97.loc[(nls97.nightlyhrssleep<=4) & (nls97.childathome>=3)] #สร้างเงื่อนไขขึ้น
print(lowsleep3pluschildren.shape) #แสดงจำนวน rows และ colums
print(lowsleep3pluschildren)       #แสดงข้อมูล
lowsleep3pluschildren.to_csv("/content/lowsleep3pluschildren") #Export เป็นไฟล์เพิ่มนามสกุล .csv เปิด excel

count    293.000000
mean       1.788396
std        1.400685
min        0.000000
25%        1.000000
50%        2.000000
75%        3.000000
max        9.000000
Name: childathome, dtype: float64
(82, 88)
          gender  birthmonth  ...        colenrfeb17        colenroct17
personid                      ...
119754    Female           6  ...    1. Not enrolled    1. Not enrolled
141531    Female          11  ...    1. Not enrolled    1. Not enrolled
152706      Male           7  ...    1. Not enrolled    1. Not enrolled
156823    Female          12  ...    1. Not enrolled    1. Not enrolled
158355    Female           7  ...    1. Not enrolled    1. Not enrolled
...          ...         ...  ...                ...                ...
905774      Male           6  ...    1. Not enrolled    1. Not enrolled
907315    Female           1  ...    1. Not enrolled    1. Not enrolled
955166      Male          12  ...    1. Not enrolled    1. Not enrolled
956100    Female          10  ...  3. 4-year college  3. 4-year college
991756      Male          11  ...    1. Not enrolled    1. Not enrolled

[82 rows x 88 columns]

**STEP 15:** เลือก rows และ columns ตามหลายเงื่อนไข

Select rows based on multiple conditions and also select columns

In [ ]:
updatelowsleep3pluschildren = nls97.loc[(nls97.nightlyhrssleep<=4) & (nls97.childathome>=3),
                                  ['nightlyhrssleep','childathome']]   #เลือกเฉพาะ Columns ที่ต้องการ
print(updatelowsleep3pluschildren)  #แสดงข้อมูล
updatelowsleep3pluschildren.to_csv("/content/updatelowsleep3pluschildren") #Export เป็นไฟล์.csv

          nightlyhrssleep  childathome
personid
119754                4.0          4.0
141531                4.0          5.0
152706                4.0          4.0
156823                1.0          3.0
158355                4.0          4.0
...                   ...          ...
905774                4.0          3.0
907315                4.0          3.0
955166                3.0          3.0
956100                4.0          6.0
991756                4.0          3.0

[82 rows x 2 columns]