#Data Wrangling with Pandas

[Aj. NesT the Series](http://bit.ly/ajnesttheseriesSubscribe)

Referenence: [Pyhton Data Cleaning Cookbook 2020](https://github.com/PacktPublishing/Python-Data-Cleaning-Cookbook)

##Practice 2: การจัดการค่าที่หายไป การลบข้อมูลแถวที่ซ้ำกัน และการจัดระเบียบข้อมูลตามกลุ่ม

--> Managing Missing Values, Removing Duplicated Rows, and Organizing using Groupby  

[Python Pandas Cheat Sheets](https://www.enthought.com/wp-content/uploads/Enthought-Python-Pandas-Cheat-Sheets-1-8-v1.0.2.pdf)

##Workshop 9: ใช้ Aggregation Functions ร่วมกับ groupby จัดระเบียบข้อมูลตามกลุ่ม
--> Using more complicated aggregation functions
with groupby

###Input Datasets

* **[nls97b.csv](https://drive.google.com/file/d/1MlPic-AGMK5sUhVmGjhkhf0lO-lOBRvm/view?usp=sharing)** - the National Longitudinal Survey (NLS) 1997-2018.

####Question 9: เราสามารถรวมกลุ่มของข้อมูลเพิ่มเติมเพิ่มคำนวณค่าที่ต้องการได้ด้วยวิธีการใด?

**STEP 1:** นำเข้า Datasets โดยทำการ Upload ไฟล์ nls97b.csv ขึ้น Google Colab (ไฟล์นี้จะถูกลบเมื่อเราหลุดจาก Session หรือปิด Browser) หรือ Python IDE เช่น PyCharm, VSCode, Juputer Notebook, etc.

**STEP 2:** นำเข้า pandas library มาใช้งาน

**STEP 3:** ทำการอ่านไฟล์ .csv ด้วย pandas เก็บเป็น Dataframe

ใช้คำสั่ง .read_csv()

**STEP 4:** ตั้งค่าและแสดง index และ size ของ nls97b data

ใช้คำสั่ง set_index()

In [19]:
#import pandas, load the nls97 feather file
import pandas as pd
nls97b = pd.read_csv("/content/nls97b.csv")
print(nls97b)
nls97b.set_index("personid", inplace=True)
print(nls97b)

      personid  gender  ...      colenrfeb17      colenroct17
0       100061  Female  ...  1. Not enrolled  1. Not enrolled
1       100139    Male  ...  1. Not enrolled  1. Not enrolled
2       100284    Male  ...  1. Not enrolled  1. Not enrolled
3       100292    Male  ...              NaN              NaN
4       100583    Male  ...  1. Not enrolled  1. Not enrolled
...        ...     ...  ...              ...              ...
8979    999291  Female  ...  1. Not enrolled  1. Not enrolled
8980    999406    Male  ...  1. Not enrolled  1. Not enrolled
8981    999543  Female  ...  1. Not enrolled  1. Not enrolled
8982    999698  Female  ...  1. Not enrolled  1. Not enrolled
8983    999963  Female  ...  1. Not enrolled  1. Not enrolled

[8984 rows x 89 columns]
          gender  birthmonth  ...      colenrfeb17      colenroct17
personid                      ...
100061    Female           5  ...  1. Not enrolled  1. Not enrolled
100139      Male           9  ...  1. Not enrolled  1. Not enrolled
100284      Male          11  ...  1. Not enrolled  1. Not enrolled
100292      Male           4  ...              NaN              NaN
100583      Male           1  ...  1. Not enrolled  1. Not enrolled
...          ...         ...  ...              ...              ...
999291    Female           4  ...  1. Not enrolled  1. Not enrolled
999406      Male           7  ...  1. Not enrolled  1. Not enrolled
999543    Female           8  ...  1. Not enrolled  1. Not enrolled
999698    Female           5  ...  1. Not enrolled  1. Not enrolled
999963    Female           9  ...  1. Not enrolled  1. Not enrolled

[8984 rows x 88 columns]

**STEP 5:** แสดงจำนวน data types และ non-null value

ใช้คำสั่ง info()

ใช้คำสั่ง .iloc[ index_row, index_column ]

In [20]:
#review the structure of the nls97 data
print(nls97b.info())   #all columns
print()
print(nls97b.iloc[:,0:7].info())   #.iloc[index_row, index_column]

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8984 entries, 100061 to 999963
Data columns (total 88 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   gender                 8984 non-null   object
 1   birthmonth             8984 non-null   int64
 2   birthyear              8984 non-null   int64
 3   highestgradecompleted  6663 non-null   float64
 4   maritalstatus          6672 non-null   object
 5   childathome            4791 non-null   float64
 6   childnotathome         4791 non-null   float64
 7   wageincome             5091 non-null   float64
 8   weeklyhrscomputer      6710 non-null   object
 9   weeklyhrstv            6711 non-null   object
 10  nightlyhrssleep        6706 non-null   float64
 11  satverbal              1406 non-null   float64
 12  satmath                1407 non-null   float64
 13  gpaoverall             6004 non-null   float64
 14  gpaenglish             5798 non-null   float64
 15  gpamath                5766 non-null   float64
 16  gpascience             5684 non-null   float64
 17  highestdegree          8953 non-null   object
 18  govprovidejobs         1833 non-null   object
 19  govpricecontrols       1859 non-null   object
 20  govhealthcare          1874 non-null   object
 21  govelderliving         1872 non-null   object
 22  govindhelp             1815 non-null   object
 23  govunemp               1811 non-null   object
 24  govincomediff          1775 non-null   object
 25  govcollegefinance      1875 non-null   object
 26  govdecenthousing       1847 non-null   object
 27  govprotectenvironment  1860 non-null   object
 28  weeksworked00          8603 non-null   float64
 29  weeksworked01          8564 non-null   float64
 30  weeksworked02          8556 non-null   float64
 31  weeksworked03          8490 non-null   float64
 32  weeksworked04          8458 non-null   float64
 33  weeksworked05          8403 non-null   float64
 34  weeksworked06          8340 non-null   float64
 35  weeksworked07          8272 non-null   float64
 36  weeksworked08          8186 non-null   float64
 37  weeksworked09          8146 non-null   float64
 38  weeksworked10          8054 non-null   float64
 39  weeksworked11          7968 non-null   float64
 40  weeksworked12          7747 non-null   float64
 41  weeksworked13          7680 non-null   float64
 42  weeksworked14          7612 non-null   float64
 43  weeksworked15          7389 non-null   float64
 44  weeksworked16          7068 non-null   float64
 45  weeksworked17          6670 non-null   float64
 46  colenrfeb97            1250 non-null   object
 47  colenroct97            8501 non-null   object
 48  colenrfeb98            8501 non-null   object
 49  colenroct98            8888 non-null   object
 50  colenrfeb99            8865 non-null   object
 51  colenroct99            8851 non-null   object
 52  colenrfeb00            8820 non-null   object
 53  colenroct00            8805 non-null   object
 54  colenrfeb01            8786 non-null   object
 55  colenroct01            8758 non-null   object
 56  colenrfeb02            8732 non-null   object
 57  colenroct02            8698 non-null   object
 58  colenrfeb03            8658 non-null   object
 59  colenroct03            8622 non-null   object
 60  colenrfeb04            8578 non-null   object
 61  colenroct04            8546 non-null   object
 62  colenrfeb05            8508 non-null   object
 63  colenroct05            8471 non-null   object
 64  colenrfeb06            8426 non-null   object
 65  colenroct06            8407 non-null   object
 66  colenrfeb07            8352 non-null   object
 67  colenroct07            8331 non-null   object
 68  colenrfeb08            8289 non-null   object
 69  colenroct08            8280 non-null   object
 70  colenrfeb09            8236 non-null   object
 71  colenroct09            8193 non-null   object
 72  colenrfeb10            8116 non-null   object
 73  colenroct10            8091 non-null   object
 74  colenrfeb11            8037 non-null   object
 75  colenroct11            7972 non-null   object
 76  colenrfeb12            7794 non-null   object
 77  colenroct12            7754 non-null   object
 78  colenrfeb13            7754 non-null   object
 79  colenroct13            7754 non-null   object
 80  colenrfeb14            7624 non-null   object
 81  colenroct14            7469 non-null   object
 82  colenrfeb15            7469 non-null   object
 83  colenroct15            7469 non-null   object
 84  colenrfeb16            7036 non-null   object
 85  colenroct16            6733 non-null   object
 86  colenrfeb17            6733 non-null   object
 87  colenroct17            6734 non-null   object
dtypes: float64(29), int64(2), object(57)
memory usage: 6.1+ MB
None

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8984 entries, 100061 to 999963
Data columns (total 7 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   gender                 8984 non-null   object
 1   birthmonth             8984 non-null   int64
 2   birthyear              8984 non-null   int64
 3   highestgradecompleted  6663 non-null   float64
 4   maritalstatus          6672 non-null   object
 5   childathome            4791 non-null   float64
 6   childnotathome         4791 non-null   float64
dtypes: float64(3), int64(2), object(2)
memory usage: 561.5+ KB
None

**STEP 6:** แสดงค่าข้อมูลของ columns เพิ่มเติม

ใช้คำสั่ง for เขียนโปรแกรมวนซ้ำ

In [21]:
#look again at some of the data
catvars = ['gender','maritalstatus','highestdegree']
for col in catvars:
  print(col, nls97b[col].value_counts().sort_index(), sep="\n\n", end="\n\n\n") #sep ทำหลัง , end ทำจบ

gender

Female    4385
Male      4599
Name: gender, dtype: int64


maritalstatus

Divorced          663
Married          3066
Never-married    2766
Separated         154
Widowed            23
Name: maritalstatus, dtype: int64


highestdegree

0. None             953
1. GED             1146
2. High School     3667
3. Associates       737
4. Bachelors       1673
5. Masters          603
6. PhD               54
7. Professional     120
Name: highestdegree, dtype: int64

**STEP 7:** แสดงค่าทางสถิติเชิงพรรณนา Descriptive Statistics

ใช้คำสั่ง .describe()  แสดงค่าสถิติต่าง ๆ ได้แก่ count mean std min 25% 50% 75% และ max

In [22]:
# review some descriptive statistics
contvars = ['satmath','satverbal','weeksworked06','gpaoverall',
  'childathome']

print(nls97b[contvars].describe())

           satmath    satverbal  weeksworked06   gpaoverall  childathome
count  1407.000000  1406.000000    8340.000000  6004.000000  4791.000000
mean    500.590618   499.724040      38.429976     2.818408     1.859320
std     114.953309   112.166256      18.921281     0.616357     1.259053
min       7.000000    14.000000       0.000000     0.100000     0.000000
25%     430.000000   430.000000      27.000000     2.430000     1.000000
50%     500.000000   500.000000      51.000000     2.860000     2.000000
75%     580.000000   570.000000      52.000000     3.260000     3.000000
max     800.000000   800.000000      52.000000     4.170000     9.000000

**STEP 8:** หาค่า Mean ของคะแนน Math แบ่งตามกลุ่ม gender

ใช้คำสั่ง .groupby( 'column ที่ต้องการจัดกลุ่ม' )[ 'column  ที่ต้องการคำนวณ' ].

ใช้คำสั่ง .mean หาค่าเฉลี่ย

In [24]:
#look at sat math scores by gender
print(nls97b.groupby('gender')['satmath'].mean())  #ลองเปลี่ยนเป็น sum, std, min, max

gender
Female    486.647757
Male      516.875193
Name: satmath, dtype: float64

**STEP 9:** ใส่ข้อมูลกลุ่ม column เพิ่มเติม เพื่อแบ่งเป็น group ย่อย

In [26]:
#look at sat math scores by gender and highest degree earned
print(nls97b.groupby(['gender','highestdegree'])['satmath'].mean())

gender  highestdegree
Female  0. None            332.600000
        1. GED             405.000000
        2. High School     430.769231
        3. Associates      458.032787
        4. Bachelors       501.945513
        5. Masters         508.271523
        6. PhD             575.454545
        7. Professional    599.411765
Male    0. None            540.000000
        1. GED             320.000000
        2. High School     467.740586
        3. Associates      481.111111
        4. Bachelors       542.163793
        5. Masters         574.444444
        6. PhD             621.428571
        7. Professional    587.727273
Name: satmath, dtype: float64

**STEP 10:** ใส่ข้อมูลค่า columns ที่ต้องการค่า math เพิ่มเติม

In [27]:
#look at sat math and verbal scores by gender and highest degree earned
print(nls97b.groupby(['gender','highestdegree'])[['satmath','satverbal']].mean())

                           satmath   satverbal
gender highestdegree
Female 0. None          332.600000  408.800000
       1. GED           405.000000  390.000000
       2. High School   430.769231  444.314917
       3. Associates    458.032787  466.229508
       4. Bachelors     501.945513  506.294872
       5. Masters       508.271523  533.927152
       6. PhD           575.454545  558.181818
       7. Professional  599.411765  587.058824
Male   0. None          540.000000  483.333333
       1. GED           320.000000  360.000000
       2. High School   467.740586  457.196653
       3. Associates    481.111111  462.444444
       4. Bachelors     542.163793  527.844828
       5. Masters       574.444444  545.222222
       6. PhD           621.428571  622.857143
       7. Professional  587.727273  591.818182

**STEP 11:** เพิ่มให้มีการคำนวณค่าทางคณิตศาสตร์ต่าง ๆ 

ใช้คำสั่ง .agg( [ 'count', 'mean', 'sum', 'max', 'min', 'std' ] ) แสดงผลการคำนวณต่าง ๆ

In [28]:
#add max and standard deviations
print(nls97b.groupby(['gender','highestdegree'])['gpaoverall'].agg(['count','mean','max','std']))

                        count      mean   max       std
gender highestdegree
Female 0. None            148  2.456419  4.00  0.669446
       1. GED             227  2.310132  3.91  0.658090
       2. High School    1212  2.774860  4.17  0.530336
       3. Associates      290  2.943483  4.00  0.495803
       4. Bachelors       734  3.238529  4.07  0.466571
       5. Masters         312  3.296186  4.08  0.432133
       6. PhD              22  3.460000  4.00  0.451885
       7. Professional     53  3.537736  4.11  0.413548
Male   0. None            193  2.218342  4.00  0.643481
       1. GED             345  2.242145  4.00  0.631721
       2. High School    1436  2.632806  4.00  0.497803
       3. Associates      236  2.727542  3.83  0.488499
       4. Bachelors       560  3.110446  4.10  0.486659
       5. Masters         170  3.304529  4.04  0.447173
       6. PhD              20  3.389000  3.99  0.551895
       7. Professional     38  3.442105  4.00  0.339301

**STEP 12:** รวมค่าของ colunms ที่ต้องการคำนวณ

ใช้คำสั่ง .groupby(['column_name']).agg()

In [29]:
#use a dictionary for more complicated aggregations
aggdict = {'weeksworked06':['count', 'mean', 'max','std'], 'childathome':['count', 'mean', 'max', 'std']}
print(nls97b.groupby(['highestdegree']).agg(aggdict))
print(nls97b.groupby(['maritalstatus']).agg(aggdict))

                weeksworked06                   ... childathome
                        count       mean   max  ...        mean  max       std
highestdegree                                   ...
0. None                   703  29.664296  52.0  ...    1.840547  8.0  1.643333
1. GED                   1104  33.193841  52.0  ...    1.701299  9.0  1.457078
2. High School           3368  39.362233  52.0  ...    1.863845  7.0  1.263427
3. Associates             722  40.704986  52.0  ...    1.967290  6.0  1.126165
4. Bachelors             1642  42.231425  52.0  ...    1.896010  8.0  1.029267
5. Masters                601  42.198003  52.0  ...    1.918919  5.0  0.862210
6. PhD                     53  38.169811  52.0  ...    2.062500  6.0  1.105339
7. Professional           117  27.102564  52.0  ...    1.807018  4.0  0.833208

[8 rows x 8 columns]
              weeksworked06                   ... childathome
                      count       mean   max  ...        mean  max       std
maritalstatus                                 ...
Divorced                660  37.546970  52.0  ...    1.496183  5.0  1.214155
Married                3033  40.321464  52.0  ...    2.132267  8.0  1.135297
Never-married          2734  37.219093  52.0  ...    1.561252  9.0  1.340663
Separated               153  33.816993  52.0  ...    1.540146  8.0  1.409081
Widowed                  23  37.130435  52.0  ...    1.777778  5.0  1.437136

[5 rows x 8 columns]