#Data Wrangling with Pandas

[Aj. NesT the Series](http://bit.ly/ajnesttheseriesSubscribe)

Referenence: [Pyhton Data Cleaning Cookbook 2020](https://github.com/PacktPublishing/Python-Data-Cleaning-Cookbook)

##Practice 2: การจัดการค่าที่หายไป การลบข้อมูลแถวที่ซ้ำกัน และการจัดระเบียบข้อมูลตามกลุ่ม

--> Managing Missing Values, Removing Duplicated Rows, and Organizing using Groupby  

[Python Pandas Cheat Sheets](https://www.enthought.com/wp-content/uploads/Enthought-Python-Pandas-Cheat-Sheets-1-8-v1.0.2.pdf)

##Workshop 8: ใช้ groupby จัดระเบียบข้อมูลตามกลุ่ม
--> Using groupby to organize data by groups

###Input Datasets

* **[coviddaily720.csv](https://drive.google.com/file/d/1U2c1ouE3oa1rUTtpPkpoLSqwDYWxvn8F/view?usp=sharing)** - COVID-19 daily data 31 Dec 2019 - 12 July 2020.

####Question 8: เราจะเลือกจัดระเบียบข้อมูลเฉพาะกลุ่มที่เราสนใจได้อย่างไร?

**STEP 1:** นำเข้า Datasets โดยทำการ Upload ไฟล์ coviddaily720.csv ขึ้น Google Colab (ไฟล์นี้จะถูกลบเมื่อเราหลุดจาก Session หรือปิด Browser) หรือ Python IDE เช่น PyCharm, VSCode, Juputer Notebook, etc.

**STEP 2:** นำเข้า pandas และ numpy libraries มาใช้งาน

**STEP 3:** ทำการอ่านไฟล์ .csv ด้วย pandas เก็บเป็น Dataframe

ใช้คำสั่ง .read_csv() pasrse_dates=[ "colunm_name" ] เป็น data type ชนิด datetime

In [2]:
#import pandas and numpy, and load the covid data
import pandas as pd
import numpy as np
coviddaily = pd.read_csv("/content/coviddaily720.csv", parse_dates=["casedate"])
print(coviddaily)
print()
print(coviddaily.info())

      iso_code   casedate  ... hosp_beds           region
0          AFG 2019-12-31  ...       0.5       South Asia
1          AFG 2020-01-01  ...       0.5       South Asia
2          AFG 2020-01-02  ...       0.5       South Asia
3          AFG 2020-01-03  ...       0.5       South Asia
4          AFG 2020-01-04  ...       0.5       South Asia
...        ...        ...  ...       ...              ...
29208      ZWE 2020-07-08  ...       1.7  Southern Africa
29209      ZWE 2020-07-09  ...       1.7  Southern Africa
29210      ZWE 2020-07-10  ...       1.7  Southern Africa
29211      ZWE 2020-07-11  ...       1.7  Southern Africa
29212      ZWE 2020-07-12  ...       1.7  Southern Africa

[29213 rows x 12 columns]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29213 entries, 0 to 29212
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   iso_code        29213 non-null  object
 1   casedate        29213 non-null  datetime64[ns]
 2   location        29213 non-null  object
 3   continent       29213 non-null  object
 4   new_cases       29213 non-null  float64
 5   new_deaths      29213 non-null  float64
 6   population      29213 non-null  float64
 7   pop_density     27959 non-null  float64
 8   median_age      26343 non-null  float64
 9   gdp_per_capita  26029 non-null  float64
 10  hosp_beds       24015 non-null  float64
 11  region          29213 non-null  object
dtypes: datetime64[ns](1), float64(7), object(4)
memory usage: 2.7+ MB
None

**STEP 4:** สร้าง DataFrame แบบจัดตามกลุ่ม

ใช้คำสั่ง .groupby([ 'column_name' ]) จัดข้อมูลตามกลุ่ม

In [3]:
#create a pandas groupby data frame
countrytots = coviddaily.groupby(['location']) #จัดระเบียบตามกลุ่มข้อมูล ซ้ำกันจะรวมกัน
print(type(countrytots)) #ชนิด DataFrame แบบ GroupBy

<class 'pandas.core.groupby.generic.DataFrameGroupBy'>

**STEP 5:** สร้าง DataFrame ของข้อมูล first rows และ last rows ของแต่ละประเทศ

ใช้คำสั่ง .first().iloc[row_index, column_index] แถวบนลงล่าง [ตำแหน่งเลข index เริ่มต้น : สิ้นสุด+1]

ใช้คำสั่ง .last().iloc[row_index, column_index] แถวล่างขึ้นบน [ตำแหน่งเลข index เริ่มต้น : สิ้นสุด+1]

In [4]:
#create data frames for the first and last rows for each country
print(countrytots.first().iloc[0:5, 0:5])  #แถวบนลงล่าง 
print(countrytots.last().iloc[0:5, 0:5])   #แถวล่างขึ้นบน
print(type(countrytots.first()))
print(type(countrytots.last()))

            iso_code   casedate continent  new_cases  new_deaths
location
Afghanistan      AFG 2019-12-31      Asia        0.0         0.0
Albania          ALB 2020-03-09    Europe        2.0         0.0
Algeria          DZA 2019-12-31    Africa        0.0         0.0
Andorra          AND 2020-03-03    Europe        1.0         0.0
Angola           AGO 2020-03-22    Africa        2.0         0.0
            iso_code   casedate continent  new_cases  new_deaths
location
Afghanistan      AFG 2020-07-12      Asia       85.0        16.0
Albania          ALB 2020-07-12    Europe       93.0         4.0
Algeria          DZA 2020-07-12    Africa      904.0        16.0
Andorra          AND 2020-07-12    Europe        0.0         0.0
Angola           AGO 2020-07-12    Africa       25.0         2.0
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>

**STEP 6:** เลือกแถวข้อมูลทั้งหมดของประเทศที่ต้องการ

get all of the rows for a country

ใช้คำสั่ง get_group( 'value' ).iloc[ row_index, column_index]

In [5]:
#get all of the rows for a country
print(countrytots.get_group('Zimbabwe').iloc[0:5, 0:5])  #เลือกค่าที่อยู่ในกลุ่มที่ทำการ groupby
print(countrytots.get_group('China').iloc[0:6,0:5])  
print(countrytots.get_group('Thailand').iloc[73:79,0:5])

      iso_code   casedate continent  new_cases  new_deaths
29099      ZWE 2020-03-21    Africa        1.0         0.0
29100      ZWE 2020-03-22    Africa        1.0         0.0
29101      ZWE 2020-03-23    Africa        0.0         0.0
29102      ZWE 2020-03-24    Africa        0.0         1.0
29103      ZWE 2020-03-25    Africa        0.0         0.0
     iso_code   casedate continent  new_cases  new_deaths
5678      CHN 2019-12-31      Asia       27.0         0.0
5679      CHN 2020-01-01      Asia        0.0         0.0
5680      CHN 2020-01-02      Asia        0.0         0.0
5681      CHN 2020-01-03      Asia       17.0         0.0
5682      CHN 2020-01-04      Asia        0.0         0.0
5683      CHN 2020-01-05      Asia       15.0         0.0
      iso_code   casedate continent  new_cases  new_deaths
26395      THA 2020-03-20      Asia       35.0         0.0
26396      THA 2020-03-21      Asia      154.0         0.0
26397      THA 2020-03-22      Asia      233.0         0.0
26398      THA 2020-03-23      Asia      122.0         0.0
26399      THA 2020-03-24      Asia      106.0         3.0
26400      THA 2020-03-25      Asia      107.0         0.0

**STEP 7:** สร้างคำสั่งวนซ้ำพร้อมกันหลายประเทศ

get all of the rows for a country

ใช้คำสั่ง for เขียนโปรแกรมวนซ้ำ

In [7]:
#loop through the groups 
for name, group in countrytots:
  if (name in ['China','Thailand','United States']): #เวลาแสดงผลจะเรียงตามตัวอักษร
    print(group.iloc[0:30, 0:5])

     iso_code   casedate location continent  new_cases
5678      CHN 2019-12-31    China      Asia       27.0
5679      CHN 2020-01-01    China      Asia        0.0
5680      CHN 2020-01-02    China      Asia        0.0
5681      CHN 2020-01-03    China      Asia       17.0
5682      CHN 2020-01-04    China      Asia        0.0
5683      CHN 2020-01-05    China      Asia       15.0
5684      CHN 2020-01-06    China      Asia        0.0
5685      CHN 2020-01-07    China      Asia        0.0
5686      CHN 2020-01-08    China      Asia        0.0
5687      CHN 2020-01-09    China      Asia        0.0
5688      CHN 2020-01-10    China      Asia        0.0
5689      CHN 2020-01-11    China      Asia        0.0
5690      CHN 2020-01-12    China      Asia        0.0
5691      CHN 2020-01-13    China      Asia        0.0
5692      CHN 2020-01-14    China      Asia        0.0
5693      CHN 2020-01-15    China      Asia        0.0
5694      CHN 2020-01-16    China      Asia        0.0
5695      CHN 2020-01-17    China      Asia        4.0
5696      CHN 2020-01-18    China      Asia       17.0
5697      CHN 2020-01-19    China      Asia      136.0
5698      CHN 2020-01-20    China      Asia       19.0
5699      CHN 2020-01-21    China      Asia      151.0
5700      CHN 2020-01-22    China      Asia      140.0
5701      CHN 2020-01-23    China      Asia       97.0
5702      CHN 2020-01-24    China      Asia      259.0
5703      CHN 2020-01-25    China      Asia      441.0
5704      CHN 2020-01-26    China      Asia      665.0
5705      CHN 2020-01-27    China      Asia      787.0
5706      CHN 2020-01-28    China      Asia     1753.0
5707      CHN 2020-01-29    China      Asia     1466.0
      iso_code   casedate  location continent  new_cases
26322      THA 2019-12-31  Thailand      Asia        0.0
26323      THA 2020-01-01  Thailand      Asia        0.0
26324      THA 2020-01-02  Thailand      Asia        0.0
26325      THA 2020-01-03  Thailand      Asia        0.0
26326      THA 2020-01-04  Thailand      Asia        0.0
26327      THA 2020-01-05  Thailand      Asia        0.0
26328      THA 2020-01-06  Thailand      Asia        0.0
26329      THA 2020-01-07  Thailand      Asia        0.0
26330      THA 2020-01-08  Thailand      Asia        0.0
26331      THA 2020-01-09  Thailand      Asia        0.0
26332      THA 2020-01-10  Thailand      Asia        0.0
26333      THA 2020-01-11  Thailand      Asia        0.0
26334      THA 2020-01-12  Thailand      Asia        0.0
26335      THA 2020-01-13  Thailand      Asia        1.0
26336      THA 2020-01-14  Thailand      Asia        0.0
26337      THA 2020-01-15  Thailand      Asia        0.0
26338      THA 2020-01-16  Thailand      Asia        0.0
26339      THA 2020-01-17  Thailand      Asia        1.0
26340      THA 2020-01-18  Thailand      Asia        0.0
26341      THA 2020-01-19  Thailand      Asia        0.0
26342      THA 2020-01-20  Thailand      Asia        0.0
26343      THA 2020-01-21  Thailand      Asia        0.0
26344      THA 2020-01-22  Thailand      Asia        2.0
26345      THA 2020-01-23  Thailand      Asia        0.0
26346      THA 2020-01-24  Thailand      Asia        0.0
26347      THA 2020-01-25  Thailand      Asia        1.0
26348      THA 2020-01-26  Thailand      Asia        0.0
26349      THA 2020-01-27  Thailand      Asia        3.0
26350      THA 2020-01-28  Thailand      Asia        6.0
26351      THA 2020-01-29  Thailand      Asia        0.0
      iso_code   casedate       location      continent  new_cases
27837      USA 2019-12-31  United States  North America        0.0
27838      USA 2020-01-01  United States  North America        0.0
27839      USA 2020-01-02  United States  North America        0.0
27840      USA 2020-01-03  United States  North America        0.0
27841      USA 2020-01-04  United States  North America        0.0
27842      USA 2020-01-05  United States  North America        0.0
27843      USA 2020-01-06  United States  North America        0.0
27844      USA 2020-01-07  United States  North America        0.0
27845      USA 2020-01-08  United States  North America        0.0
27846      USA 2020-01-09  United States  North America        0.0
27847      USA 2020-01-10  United States  North America        0.0
27848      USA 2020-01-11  United States  North America        0.0
27849      USA 2020-01-12  United States  North America        0.0
27850      USA 2020-01-13  United States  North America        0.0
27851      USA 2020-01-14  United States  North America        0.0
27852      USA 2020-01-15  United States  North America        0.0
27853      USA 2020-01-16  United States  North America        0.0
27854      USA 2020-01-17  United States  North America        0.0
27855      USA 2020-01-18  United States  North America        0.0
27856      USA 2020-01-19  United States  North America        0.0
27857      USA 2020-01-20  United States  North America        0.0
27858      USA 2020-01-21  United States  North America        1.0
27859      USA 2020-01-22  United States  North America        0.0
27860      USA 2020-01-23  United States  North America        0.0
27861      USA 2020-01-24  United States  North America        0.0
27862      USA 2020-01-25  United States  North America        1.0
27863      USA 2020-01-26  United States  North America        0.0
27864      USA 2020-01-27  United States  North America        3.0
27865      USA 2020-01-28  United States  North America        0.0
27866      USA 2020-01-29  United States  North America        0.0

**STEP 8:** แสดงค่าผลรวมจำนวนแถวที่เก็บข้อมูลของแต่ละประเทศ

sum values for each group

ใช้คำสั่ง .size() แสดงจำนวนแถวทั้งหมด

In [9]:
#show the number of rows for each country
print(countrytots.size())

location
Afghanistan       185
Albania           126
Algeria           190
Andorra           121
Angola            113
                 ...
Vietnam           191
Western Sahara     78
Yemen              94
Zambia            116
Zimbabwe          114
Length: 209, dtype: int64

**STEP 9:** แสดงค่าสถิติของแต่ละประเทศ

ใช้คำสั่ง .describe() หาค่า summary statistics

ใช้คำสั่ง .sum() หาผลรวม

In [11]:
#show summary statistics by country
print(countrytots.new_cases.describe().head())
print()
print(countrytots.new_cases.sum().head())

             count        mean         std  min  25%   50%     75%     max
location
Afghanistan  185.0  186.221622  257.305202  0.0  0.0  37.0  302.00  1063.0
Albania      126.0   26.753968   24.651389  0.0  9.0  17.0   35.50    93.0
Algeria      190.0   98.484211  123.980103  0.0  0.0  88.0  149.75   904.0
Andorra      121.0    7.066116   12.716614  0.0  0.0   1.0    9.00    79.0
Angola       113.0    4.274336    8.509709  0.0  0.0   1.0    5.00    62.0

location
Afghanistan    34451.0
Albania         3371.0
Algeria        18712.0
Andorra          855.0
Angola           483.0
Name: new_cases, dtype: float64